<app-white-container><div class="content p-3">
  <h1>Terapia przetwarzania słuchowego Johansena </h1>
  <img src="assets/img/badanie_słuchu.png"
       alt="Badanie słuchu wielkie ucho i naukowcy"
       class="auditory-img float-md-end img-fluid m-3 w-50 ">
  <p><span class="text-nowrap">Twórcą treningu</span> jest dr Kjeld Johansen – duński nauczyciel i psycholog, dyrektor Bałtyckiego Laboratorium Badań Nad Dysleksją. Jest również wykładowcą na Uniwersytecie Pedagogicznym w Kopenhadze. W swojej pracy Johansen oparł się na doświadczeniach dr Christiana A. Volfa.</p>

  <h3>Zalety metody Indywidualnej Stymulacji Słuchu Johansena:</h3>
  <ul>
    <li>jest dostępna dla osób mieszkających daleko od dużych ośrodków, gdyż odbywa się w domu dziecka,</li>
    <li>odbywa się w przyjaznym, bezpiecznym, domowym otoczeniu, co jest istotne dla wielu dzieci np. z autyzmem,</li>
    <li>podczas stymulacji Johansena IAS nie ma konieczności rezygnowania z innych form terapii, jakimi objęte jest dziecko w tym samym czasie.</li>
  </ul>

  <p>Diagnoza w Indywidualnej Stymulacji Słuchu Johansena opiera się na <strong>badaniu audiometrii tonalnej</strong> oraz testach mowy utrudnionej, w tym teście dychotycznym – istotnych dla procesu uczenia się aspektów prawidłowego przetwarzania bodźców słuchowych.</p>

  <p>Program terapeutyczny w formie indywidualnie filtrowanej muzyki instrumentalnej i nagranej na syntetyzatorze jest nagrywany na płyty CD. Dziecko otrzymuje płytę do domu i słucha jej sześć dni w tygodniu przez 10 do 15 minut przez słuchawki. Postępy terapii są kontrolowane co 6 do 8 tygodni (w zależności od wieku), a za każdym razem dziecko otrzymuje nową, specjalnie dla niego przygotowaną płytę CD z programem terapeutycznym. Program stymulacji trwa około 8-12 miesięcy.</p>

  <p>Metoda Indywidualnej Stymulacji Słuchu dr Johansena stosowana jest w wielu krajach na świecie, w tym w Niemczech, Wielkiej Brytanii, Szwecji, Francji, USA, Słowacji, Hiszpanii, Norwegii i Austrii.</p>

  <h3>Stymulacja słuchowa według dr Kjelda Johansena poprawia:</h3>
  <ul>
    <li>Przetwarzanie bodźców słuchowych,</li>
    <li>Zdolność utrzymywania uwagi i koncentracji na wypowiedziach ustnych,</li>
    <li>Czytanie,</li>
    <li>Rozumienie mowy,</li>
    <li>Artykulację,</li>
    <li>Komunikację,</li>
    <li>Samoocenę,</li>
    <li>Harmonizuje napięcie mięśniowe, co wpływa na postawę ciała,</li>
    <li>Utrzymanie równowagi,</li>
    <li>Koordynację ruchów,</li>
    <li>Motorykę.</li>
  </ul>
</div>
  <div class="d-flex justify-content-center align-items-center">
    <img src="assets/img/nadwrażliwość_słuchowa.png"
         alt="Badanie słuchu wielkie ucho i naukowcy"
         class="inpp-img img-fluid w-75">
  </div>

</app-white-container>
<app-back-btn></app-back-btn>


