<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Marta Kęsicka</h2>
      <p class="role-title px-4">Pedagogożka, terapeutka w zakresie rehabilitacji ruchowej, terapeutka SI, trenerka umiejętności
        społecznych, instruktorka pilates, trenerka personalna.</p>
    </div>
    <div class="col-md p-0 img-container">
      <img src="assets/img/awatar-damski.png" [alt]="'Awatar'" class="">
    </div>
    <div class="col-md assistance-box">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2">Zakres wsparcia</h2>
      <ul class="mx-2">
        <li>Terapia z zakresu stymulacji zmysłów i integracji sensorycznej</li>
        <li>Terapia ruchem, kinezyterapia</li>
        <li>Korekcja wad postawy</li>
      </ul>
    </div>
  </div>
  <app-next-back-btn (click)="nextTherapist()" class="next-btn">
    <img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w&nbsp;prawo'" class="arrow-btn">
  </app-next-back-btn>
  <app-next-back-btn (click)="prevTherapist()" class="back-btn">
    <img [src]="'assets/img/left-arrow.png'" [alt]="'ikona strzałki w&nbsp;prawo'" class="arrow-btn">
  </app-next-back-btn>
</div>

<div class="about-me-section">
  <div class="px-3">
    <h2 class="title underline-title">O&nbsp;mnie</h2>
    <p class="about-text">
      Każdy człowiek to&nbsp;unikalna jednostka posiadająca swój wyjątkowy zespół cech, umiejętności, predyspozycji zarówno psychicznych, jak&nbsp;i&nbsp;fizycznych. Dlatego w&nbsp;swojej pracy z&nbsp;dziećmi i&nbsp;dorosłymi staram się holistycznie patrzeć na&nbsp;drugiego człowieka. Do&nbsp;każdej osoby podchodzę indywidualnie, uwzględniając jej możliwości, potrzeby oraz&nbsp;trudności. W&nbsp;pracy terapeuty łączę elementy terapii SI, rehabilitacji i&nbsp;pilatesu. Ważna jest dla&nbsp;mnie równowaga psychiczna, dlatego stosuję również techniki oddechowe, które pomagają w&nbsp;relaksacji i&nbsp;obniżaniu napięcia. Kierując się filozofią TSR (terapii skoncentrowanej na&nbsp;rozwiązaniach), pracuję na&nbsp;zasobach zarówno psychicznych, jak&nbsp;i&nbsp;fizycznych, co&nbsp;pozytywnie wpływa na&nbsp;funkcjonowanie i&nbsp;rozwój drugiego człowieka.
    </p>

    <h4 class="subtitle">Relacja z&nbsp;dzieckiem – klucz do&nbsp;sukcesu</h4>
    <p class="about-text">
      Ważnym aspektem pracy, zwłaszcza z&nbsp;dzieckiem, jest budowanie pozytywnych relacji opartych na&nbsp;życzliwości i&nbsp;empatii. Są&nbsp;one niezbędne, aby&nbsp;dziecko czuło się bezpiecznie i&nbsp;komfortowo, co&nbsp;przekłada się na&nbsp;efektywność terapii oraz&nbsp;chęć współpracy ze&nbsp;strony dzieci.
    </p>

    <h4 class="subtitle">Nieustanny rozwój zawodowy</h4>
    <p class="about-text">
      W&nbsp;życiu zawodowym i&nbsp;prywatnym kieruję się zasadą Kaizen: „ulepszania nie&nbsp;ma końca”. Dlatego też rozwój, doskonalenie swoich umiejętności oraz&nbsp;zdobywanie wiedzy są&nbsp;dla&nbsp;mnie niezwykle ważne, aby&nbsp;skutecznie pomagać naszym małym klientom.
    </p>

    <h4 class="subtitle">Doświadczenie zawodowe</h4>
    <p class="about-text">
      Obecnie pracuję w&nbsp;szkole podstawowej i&nbsp;ponadpodstawowej jako psycholog, prowadząc konsultacje, trening umiejętności społecznych oraz&nbsp;liczne warsztaty. Organizowałam także gimnastykę korekcyjną i&nbsp;zajęcia ruchowe dla&nbsp;dzieci. Od&nbsp;5 lat prowadzę zajęcia fitness, pilates oraz&nbsp;zdrowy kręgosłup. Mam doświadczenie w&nbsp;pracy z&nbsp;dziećmi, dorosłymi i&nbsp;seniorami, zarówno grupowo, jak&nbsp;i&nbsp;indywidualnie. W&nbsp;swojej pracy łączę aspekty fizyczne i&nbsp;psychiczne, ponieważ wierzę, że&nbsp;obie te&nbsp;sfery się przenikają. Moją ulubioną formą ruchu jest pilates (body&amp;mind). Uwielbiam pracować z&nbsp;dziećmi, gdyż&nbsp;praca ta&nbsp;wymaga dużej uważności, ale&nbsp;przynosi również wiele satysfakcji i&nbsp;radości.
    </p>
  </div>

  <div class="private-section">
    <h2 class="underline-title">Prywatnie</h2>
    <p class="about-text">
      W&nbsp;życiu prywatnym jestem mamą – mam córkę i&nbsp;dwóch synów. Około 5 lat temu nasza rodzina powiększyła się o&nbsp;pieska, cudownego kundelka. Lubimy spędzać razem czas, grając w&nbsp;gry planszowe oraz&nbsp;chodząc na&nbsp;spacery. Uwielbiam spacerować po&nbsp;górach i&nbsp;lesie.
    </p>
  </div>

  <div class="qualifications-section">
    <h2 class="underline-title">Kwalifikacje</h2>
    <h3 class="pt-2">Wykształcenie</h3>
    <ul>
      <li>Pedagogika opiekuńczo-wychowawcza z&nbsp;promocją zdrowia, Wyższa Szkoła Informatyki – licencjat</li>
      <li>Pedagogika terapeutyczna z&nbsp;rehabilitacją ruchową, Akademia Humanistyczno-Ekonomiczna w&nbsp;Łodzi – studia magisterskie</li>
      <li>Stymulacja zmysłów i&nbsp;integracja sensoryczna, WSB-NLU w&nbsp;Nowym Sączu – studia podyplomowe</li>
      <li>Psychologia, WSB-NLU w&nbsp;Nowym Sączu – studia magisterskie (w&nbsp;trakcie)</li>
      <li>Psychologia transportu, WSB-NLU w&nbsp;Nowym Sączu – studia podyplomowe (w&nbsp;trakcie)</li>
    </ul>

    <h4>Certyfikaty</h4>
    <ul>
      <li>Trener Umiejętności Społecznych i&nbsp;Życiowych – Centrum Szkoleniowo-Terapeutyczne SENS</li>
      <li>Pilates instruktor – Polskie Centrum Fitness</li>
      <li>Szkoła skoncentrowana na&nbsp;dobrostanie – Edulabor</li>
      <li>Pilates Mat 1 – Open Mind Pilates School</li>
      <li>Pilates Intermediate – Open Mind Pilates School</li>
      <li>Pilates Body Ball – Open Mind Pilates School</li>
      <li>Pilates dla&nbsp;Ciężarnych i&nbsp;Osób starszych – Open Mind Pilates School</li>
      <li>Zdrowy Kręgosłup Tour – Open Mind Pilates School</li>
      <li>Pilates Rollers – Open Mind Pilates School</li>
      <li>Metody i&nbsp;Techniki Treningu Online – Online Coaching, Personal Training Academy PTA</li>
      <li>Certified Gym Instructor – Personal Training Academy PTA</li>
      <li>Certified Personal Trainer – Personal Training Academy PTA</li>
      <li>Specjalista masażu klasycznego i&nbsp;odnowy biologicznej</li>
    </ul>

    <h4>Szkolenia</h4>
    <ul>
      <li>Terapia skoncentrowana na&nbsp;rozwiązaniach – poziom podstawowy, Centrum TSR</li>
      <li>Trening zastępowania agresji – Niepubliczny Ośrodek Doskonalenia Nauczycieli Cognitus</li>
      <li>„Uczeń z&nbsp;ASD i&nbsp;nadpobudliwością psychoruchową w&nbsp;klasie. Zasady pracy i&nbsp;praktyczne wskazania.” – Promade Sp. z&nbsp;o.o.</li>
      <li>Mediacje w&nbsp;szkole jako forma rozwiązywania konfliktów – ODN w&nbsp;Kaliszu</li>
      <li>„Rozwijanie kompetencji społecznych uczniów – współczesne wyzwania nauczycieli.” – Promade Sp. z&nbsp;o.o.</li>
      <li>Seminarium #Dusza#Ciało – jak&nbsp;dbać o&nbsp;swoje zdrowie psychiczne – Uniwersytet Kaliski</li>
      <li>„Są więzy i&nbsp;więzi. O&nbsp;neuronalnych węzłach miłości.” – Fundacja Dbam o&nbsp;mój zasięg</li>
      <li>Samoakceptacja jako determinant przyszłych zachowań – Uniwersytet Kaliski</li>
    </ul>
  </div>
</div>
<app-back-btn></app-back-btn>




