
.image-container {
  margin-top: -2px;
  max-width: 1200px;
  max-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.justify-text {
  text-align: justify;
}

p {
  font-size: 18px;
   line-height: 1.7;
}

ol {
  list-style-type: decimal; /* Numeryczne punkty */
  padding-left: 20px; /* Odstęp od lewej krawędzi */
  margin-bottom: 20px; /* Odstęp od dołu */
  font-size: 18px; /* Rozmiar tekstu */
}

ol li a {
  text-decoration: none; /* Usuwa podkreślenie */
  color: var(--black-color); /* Kolor linku */
  transition: color 0.3s ease; /* Płynna zmiana koloru */
}


ol li a:hover {
  color: var(--black-color); /* Zmiana koloru na ciemniejszy */
  text-decoration: underline; /* Podkreślenie przy najechaniu */
}

ol li {
  margin: 5px 0; /* Odstęp między elementami listy */
}

ul {
  list-style-type: none; /* Usunięcie kropek */
  padding: 0; /* Usuń domyślny padding */
  margin: 0; /* Usuń domyślny margin */
}

.short-description {
  font-size: 19px;
}

.accordion-button {
  font-weight: bold;
  font-size: 20px;
}

.accordion-button {
  background-color: var(--white-color);
  font-weight: bold;
  overflow: hidden;
}

.accordion-button:focus {
  background-color: rgba(214, 243, 239, 0.89);
  box-shadow: 1px 1px 1px 1px rgb(189, 225, 219);
}

.down-btn:active {
  border-color: var(--white-color);
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--white-color);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  overflow: hidden;
}


