.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.video-item {
  max-height: 600px;
}

.gallery-item {
  position: relative;
}


.item1, .item2, .item3, .item4 {
  grid-column: span 1;
  grid-row: span 1;
}

.item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item15 {
  grid-column: span 2;
  grid-row: span 2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zapewnia, że obraz dopasowuje się do kontenera */
}

.aboutus-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item14 {
  grid-column: 1 / -1;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13 {
    grid-column: span 2;
    grid-row: span 2;
  }


  .item14 {
    grid-column: 1 / -1;
    grid-row: span 2;
  }
}

@media (max-width: 576px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding: 12px;
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13 {
    grid-column: span 2;
    grid-row: span 1;
    margin-bottom: 20px;
  }

  .item14 {
    grid-column: 1 / -1;
    grid-row: span 2;
  }
}
