<app-banner title="Nasze centrum" xmlns="http://www.w3.org/1999/html"></app-banner>
<app-white-container>
  <h1 class="container-title text-center mb-3 mt-5">Jak wygląda nasze centrum? Oceń sam.</h1>
  <div class="gallery-container">
    <div class='video-item gallery-item item1' data-aos="fade-right" data-aos-delay="300" data-aos-duration="800">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/centrum-terapii-wspracia-rozwoju-w-kaliszu.mp4" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>
    <div class='video-item gallery-item item2' data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz2.mp4" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>

    <div class='video-item gallery-item item3' data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz.mp4" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>

    <div class='video-item gallery-item item4' data-aos="fade-left" data-aos-delay="300" data-aos-duration="1400">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz3.mp4" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>


    <div class="gallery-item item6" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/pokoj-psychologa-konsultacje-kalisz.webp" type="image/webp">
        <img
          src="assets/img/pokoj-psychologa-konsultacje-kalisz.jpg"
          alt="Pokój psychologa w Centrum Terapii i Wsparcia Rozwoju Równowaga w Kaliszu">
      </picture>
    </div>
    <div class="gallery-item item15" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/pokoj-psychologa-terapia-kalisz.webp" type="image/webp">
        <img
          src="assets/img/pokoj-psychologa-terapia-kalisz.jpg"
          alt="Pokój psychologa w Centrum Terapii i Wsparcia Rozwoju Równowaga w Kalisz">
      </picture>
    </div>

    <div class="gallery-item item8" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/pokoj-terapeutyczny-konsultacje-kalisz.webp" type="image/webp">
        <img
          src="assets/img/pokoj-terapeutyczny-konsultacje-kalisz.jpg"
          alt="Pokój terapeutyczny Centrum Równowaga w Kaliszu">
      </picture>
    </div>

    <div class="gallery-item item9" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/sala-terapeutyczna-si-centrum-rownowaga-kailsz.webp" type="image/webp">
        <img
          src="assets/img/sala-terapeutyczna-si-centrum-rownowaga-kailsz.jpg"
          alt="Sala terapeutyczna duża do Integracji Sensorycznej w Centrum Terapii i Wsparcia Rozwoju Równowaga w Kaliszu">
      </picture>
      <img src="assets/img/centrum8.jpg" alt="Image 6">
    </div>

    <div class="gallery-item item10" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/sprzet-do-integracji-sensorycznej-rownowaga-kalisz.webp" type="image/webp">
        <img
          src="assets/img/sala-terapeutyczna-si-centrum-rownowaga-kailsz.jpg"
          alt="Sprzęt do Integracji Sensorycznej w Centrum Wsparcia Terapii i Rozwoju Równowaga w Kaliszu">
      </picture>
    </div>

    <div class="gallery-item item11" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/akcesoria-w-gabinecie-terapeutycznym-centrum-rownowaga-kalisz.webp"
                type="image/webp">
        <img
          src="assets/img/akcesoria-w-gabinecie-terapeutycznym-centrum-rownowaga-kalisz.jpg"
          alt="Akcesoria w dużym gabinecie terapeutycznym Centrum Terapii i Wsparcia Rozwoju Równowaga ">
      </picture>
    </div>

    <div class="gallery-item item12" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/mala-sala-integracji-sensorycznej-rownowaga-kalisz.webp" type="image/webp">
        <img
          src="assets/img/mala-sala-integracji-sensorycznej-rownowaga-kalisz.jpg"
          alt="Mała sala integracji sensorycznej w Centrum Terapii i Wsparcia Rozwoju Równowaga">
      </picture>
    </div>

    <div class="gallery-item item13" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/mala-sala-si-terapia-rownowaga-kalisz.webp" type="image/webp">
        <img
          src="assets/img/mala-sala-si-terapia-rownowaga-kalisz.jpg"
          alt="Mała sala SI w Centrum Terapii i Wsparcia Rozwoju w Kaliszu">
      </picture>
    </div>

    <div class="gallery-item item5" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/poczekalnia-w-gabinet-rownowaga-kalisz.webp" type="image/webp">
        <img
          src="assets/img/poczekalnia-w-gabinet-rownowaga-kalisz.jpg"
          alt="Poczekalnia w gabinecie Rownowaga w Kaliszu">
      </picture>
    </div>

    <div class="gallery-item item7" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
      <picture>
        <source srcset="assets/img/biblioteczka-w-centrum-rownowaga-wkaliszu.webp" type="image/webp">
        <img
          src="assets/img/biblioteczka-w-centrum-rownowaga-wkaliszu.jpg"
          alt="Biblioteczka wraz z kącikiem dziecięcym dla dzieci w Centrum Terapii I Wsparcia Rozwoju Równowaga w Kaliszu">
      </picture>
    </div>

        <div class="gallery-item item14" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000">
          <picture>
            <source srcset="assets/img/certyfikat-jakosci-centrum-rownowaga-kalisz.webp" type="image/webp">
            <img
              src="assets/img/certyfikat-jakosci-centrum-rownowaga-kalisz.jpg"
              alt="Certyfikat jakości przyznany dla Centrum Terapii I Wsparcia Rozwoju Równowaga w Kaliszu">
          </picture>
        </div>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>
