<app-banner title="Nasze centrum" xmlns="http://www.w3.org/1999/html"></app-banner>

<app-white-container>
  <h1 class="container-title text-center mb-3 mt-5">Jak wygląda nasze centrum? Oceń sam.</h1>
  <div class="gallery-container">
    <div class='video-item gallery-item item1' data-aos="fade-right" data-aos-delay="300" data-aos-duration="800">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapiaSI4.MOV" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>
    <div class='video-item gallery-item item2' data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapiaSI2.MOV" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>

    <div class='video-item gallery-item item3' data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapiaSI1.MOV" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>

    <div class='video-item gallery-item item4' data-aos="fade-left" data-aos-delay="300" data-aos-duration="1400">
      <video class="aboutus-hero" controls>
        <source src="../../../assets/video/terapiaSI3.MOV" type="video/mp4">
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>



    <div class="gallery-item item6" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
      <img src="assets/img/centrum3.jpg" alt="Image 1">
    </div>
    <div class="gallery-item item15" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
      <img src="assets/img/centrum18.jpg" alt="Image 1">
    </div>

    <div class="gallery-item item8" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
      <img src="assets/img/centrum7.jpg" alt="Image 5">
    </div>

    <div class="gallery-item item9" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
      <img src="assets/img/centrum8.jpg" alt="Image 6">
    </div>

    <div class="gallery-item item10" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000">
      <img src="assets/img/centrum9.jpg" alt="Image 7">
    </div>

    <div class="gallery-item item11" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
      <img src="assets/img/centrum12.jpg" alt="Image 10">
    </div>

    <div class="gallery-item item12" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1000">
      <img src="assets/img/centrum13.jpg" alt="Image 11">
    </div>

    <div class="gallery-item item13" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000">
      <img src="assets/img/centrum15.jpg" alt="Image 12">
    </div>

    <div class="gallery-item item5" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
      <img src="assets/img/centrum6.jpg" alt="Image 4">
    </div>

    <div class="gallery-item item7" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
      <img src="assets/img/centrum16.jpg" alt="Image 12">
    </div>

    <div class="gallery-item item14" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000">
      <img src="assets/img/centrum17.jpg" alt="Image 12">
    </div>
  </div>
</app-white-container>`
