<app-banner title="Galeria" xmlns="http://www.w3.org/1999/html"></app-banner>
<app-white-container>
  <h1 class="contact-title text-center mb-3 mt-5">
    Jak wygląda nasze Centrum? Oceń sam.
  </h1>
  <div class="gallery-container">
    <div class="gallery-item item6">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/pokoj-psychologa-konsultacje-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/pokoj-psychologa-konsultacje-kalisz.jpg"
          alt="Pokój psychologa w Centrum Terapii i Wsparcia Rozwoju Równowaga w Kaliszu"
        />
      </picture>
    </div>
    <div class="gallery-item item15">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/pokoj-psychologa-terapia-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/pokoj-psychologa-terapia-kalisz.jpg"
          alt="Pokój psychologa w Centrum Terapii i Wsparcia Rozwoju Równowaga w Kalisz"
        />
      </picture>
    </div>

    <div class="gallery-item item8">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/pokoj-terapeutyczny-konsultacje-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/pokoj-terapeutyczny-konsultacje-kalisz.jpg"
          alt="Pokój terapeutyczny Centrum Równowaga w Kaliszu"
        />
      </picture>
    </div>

    <div class="gallery-item item9">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/sala-terapeutyczna-si-centrum-rownowaga-kailsz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/sala-terapeutyczna-si-centrum-rownowaga-kailsz.jpg"
          alt="Sala terapeutyczna duża do Integracji Sensorycznej w Centrum Terapii i Wsparcia Rozwoju Równowaga w Kaliszu"
        />
      </picture>
    </div>

    <div class="gallery-item item10">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/sprzet-do-integracji-sensorycznej-rownowaga-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/sala-terapeutyczna-si-centrum-rownowaga-kailsz.jpg"
          alt="Sprzęt do Integracji Sensorycznej w Centrum Wsparcia Terapii i Rozwoju Równowaga w Kaliszu"
        />
      </picture>
    </div>

    <div class="gallery-item item11">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/akcesoria-w-gabinecie-terapeutycznym-centrum-rownowaga-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/akcesoria-w-gabinecie-terapeutycznym-centrum-rownowaga-kalisz.jpg"
          alt="Akcesoria w dużym gabinecie terapeutycznym Centrum Terapii i Wsparcia Rozwoju Równowaga "
        />
      </picture>
    </div>

    <div class="gallery-item item12">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/mala-sala-integracji-sensorycznej-rownowaga-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/mala-sala-integracji-sensorycznej-rownowaga-kalisz.jpg"
          alt="Mała sala integracji sensorycznej w Centrum Terapii i Wsparcia Rozwoju Równowaga"
        />
      </picture>
    </div>

    <div class="gallery-item item13">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/mala-sala-si-terapia-rownowaga-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/mala-sala-si-terapia-rownowaga-kalisz.jpg"
          alt="Mała sala SI w Centrum Terapii i Wsparcia Rozwoju w Kaliszu"
        />
      </picture>
    </div>

    <div class="gallery-item item5">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/poczekalnia-w-gabinet-rownowaga-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/poczekalnia-w-gabinet-rownowaga-kalisz.jpg"
          alt="Poczekalnia w gabinecie Rownowaga w Kaliszu"
        />
      </picture>
    </div>

    <div class="gallery-item item7">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/biblioteczka-w-centrum-rownowaga-wkaliszu.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/biblioteczka-w-centrum-rownowaga-wkaliszu.jpg"
          alt="Biblioteczka wraz z kącikiem dziecięcym dla dzieci w Centrum Terapii I Wsparcia Rozwoju Równowaga w Kaliszu"
        />
      </picture>
    </div>

    <div class="gallery-item item14 w-sm-100">
      <picture>
        <source
          srcset="
            ../../../assets/img/center/certyfikat-jakosci-centrum-rownowaga-kalisz.webp
          "
          type="image/webp"
        />
        <img
          src="../../../assets/img/center/certyfikat-jakosci-centrum-rownowaga-kalisz.jpg"
          alt="Certyfikat jakości przyznany dla Centrum Terapii I Wsparcia Rozwoju Równowaga w Kaliszu"
        />
      </picture>
    </div>

    <div class="video-item gallery-item item1">
      <video class="aboutus-hero" controls>
        <source
          src="../../../assets/video/centrum-terapii-wspracia-rozwoju-w-kaliszu.mp4"
          type="video/mp4"
        />
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>
    <div class="video-item gallery-item item2">
      <video class="aboutus-hero" controls>
        <source
          src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz2.mp4"
          type="video/mp4"
        />
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>

    <div class="video-item gallery-item item3">
      <video class="aboutus-hero" controls>
        <source
          src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz.mp4"
          type="video/mp4"
        />
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>

    <div class="video-item gallery-item item4">
      <video class="aboutus-hero" controls>
        <source
          src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz3.mp4"
          type="video/mp4"
        />
        Twoja przeglądarka nie wspiera elementu video.
      </video>
    </div>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>
