<div class="contact-box row row-cols-lg-4 row-cols-md-2">
  <div class="p-0 mt-5 maps-link">
    <a href="https://maps.app.goo.gl/FRJNZisRV4fubFZd8" target="_blank"
       class=" d-flex flex-column align-items-center text-decoration-none text-dark">
      <picture>
        <source srcset="assets/img/location.webp" type="image/webp">
        <img src="assets/img/location.png" alt="Ikona miejsca położenia z serduszkiem" class="mb-2 contact-icon"
             width="64"
             height="64">
      </picture>
      <p class=" footer-icon-text text-center">
        Częstochowska 21&nbsp;62-800 Kalisz
      </p>
    </a>
  </div>
  <div class="p-0 mt-5">
    <a href="tel:+48664668491"
       class=" phone-link footer-icon-text text-center flex-column d-flex justify-content-center align-items-center">
      <picture>
        <source srcset="assets/img/phone.webp" type="image/webp">
        <img src="assets/img/phone.jpg" alt="Ikona telefonu" class="mb-2 contact-icon">
      </picture>
      +48 664 668 491
    </a>
  </div>

  <div class=" p-0 mt-5">
    <a href="mailto:kontakt@rownowagacentrum.pl"
       class="email-link footer-icon-text text-center d-flex flex-column justify-content-center align-items-center">
      <picture>
        <source srcset="assets/img/email.webp" type="image/webp">
        <img src="assets/img/email.png" alt="Ikona listu" class="mb-2 contact-icon">
      </picture>
      kontakt&#64;rownowagacentrum.pl
    </a>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center p-0 mt-5">
    <picture>
      <source srcset="assets/img/open.webp" type="image/webp">
      <img src="assets/img/open.png" alt="Ikona tabliczki z napisem open" class="mb-2 no-pointer contact-icon">
    </picture>
    <p class="footer-icon-text text-center">
      Pon. – Pt.: 8:00 – 21:00
    </p>
    <p class="footer-icon-text text-center">
      Sobota: 9:00 – 20:00
    </p>
  </div>
  <div class="d-none d-lg-block"></div>
  <div class="d-flex flex-row justify-content-center social-media-box mt-5">
    <a href="https://www.facebook.com/CentrumRownowagaKalisz" target="_blank" class="me-1">
      <picture>
        <source srcset="assets/img/facebook.webp" type="image/webp">
        <img src="assets/img/facebook.png" alt="Ikona Facebooka" class="contact-icon">
      </picture>
    </a>
  </div>
  <div class="d-flex flex-row justify-content-center  social-media-box mt-5">
    <a href="https://www.instagram.com/rownowaga_centrum/" target="_blank" class="">
      <picture>
        <source srcset="assets/img/instagram.webp" type="image/webp">
        <img src="assets/img/instagram.png" alt="Ikona Instagrama" class="contact-icon">
      </picture>
    </a>
  </div>
</div>
