<app-person-carousel [therapist]="therapist" (nextTherapist)="nextTherapist()" (prevTherapist)="prevTherapist()"></app-person-carousel>

<div class="about-me-section">
  <div class="px-3">
    <h2 class="title underline-title">O mnie</h2>
    <p class="about-text" [innerHTML]="therapist?.aboutMe"></p>

    <div *ngFor="let section of therapist?.sections">
      <h3 class="subtitle" [innerHTML]="section.title"></h3>
      <p class="about-text" [innerHTML]="section.content"></p>
    </div>
  </div>

  <div class="qualifications-section">
    <h2 class="underline-title">Kwalifikacje</h2>
    <h3 class="pt-2">Wykształcenie</h3>
    <ul>
      <li *ngFor="let education of therapist?.qualifications?.education" [innerHTML]="education"></li>
    </ul>
    <div *ngIf="therapist?.qualifications?.certificates">
      <h3>Certyfikaty</h3>
      <ul>
        <li *ngFor="let certificate of therapist?.qualifications?.certificates" [innerHTML]="certificate"></li>
      </ul>
    </div>
    <div *ngIf="therapist?.qualifications?.specialistTrainings">
      <h3>Szkolenia Specjalistyczne</h3>
      <ul>
        <li
          *ngFor="let specialistTrainings of therapist?.qualifications?.specialistTrainings"
          [innerHTML]="specialistTrainings"></li>
      </ul>
    </div>
    <div *ngIf="therapist?.qualifications?.sensoryIntegrationTrainings">
      <h3>Szkolenia z Integracji Sensorycznej</h3>
      <ul>
        <li
          *ngFor="let sensoryIntegrationTrainings of therapist?.qualifications?.sensoryIntegrationTrainings"
          [innerHTML]="sensoryIntegrationTrainings"></li>
      </ul>
    </div>
  </div>
  <div *ngIf="therapist?.znanyLekarz"
       class="d-flex flex-column flex-sm-row justify-content-center align-items-center ms-sm-4 text-center text-sm-start">
    <h4 class="mb-0">Sprawdź opinie na&nbsp;mój temat<img class="ms-3 arrow d-sm-inline d-none"
                                                          src="assets/img/next.png" alt="Ikona strzałki w prawo"></h4>
    <img class="ms-3 arrow d-sm-none" src="assets/img/down-arrow.png" alt="Ikona strzałki w dół">
    <div class=" mb-4 ms-3 ">
      <a [href]="therapist?.znanyLekarz" target="_blank" class="me-2">
        <img class="znany-icon mt-3 w-75" src="assets/img/znanylekarz.jpg" alt="Ikona portalu Znanylekarz">
      </a>
    </div>
  </div>
</div>
<app-back-btn></app-back-btn>
