<section class="map">
  <div class="d-flex flex-column align-items-center">
    <iframe
      title="Lokalizacja Centrum Terapii i Wsparcia Rozwoju Równowaga w Kaliszu"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.8034117003513!2d18.090701912214804!3d51.7549182717
      53276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ac5820340d9ed%3A0x3eca73ebf7b5e3d1!2sPsycholog%2C%20t
      erepeuta%20Kalisz%20-%20R%C3%B3wnowaga%20-%20Centrum%20Terapii%20i%20Wsparcia%20Rozwoju!5e0!3m2!1spl!2spl!4v172354
      9162638!5m2!1spl!2spl"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
