.banner {
  height: 300px;
  background-color: var(--mint-color);
}

body {
  widows: 0;
  orphans: 0;
  font-size: 12pt;
}

p {
  margin: 0;
}

li {
  margin: 0;
}

.Caption {
  margin: 6pt 0;
  widows: 0;
  orphans: 0;
  font-size: 12pt;
  font-style: italic;
}

.Heading {
  margin: 12pt 0 6pt;
  page-break-after: avoid;
  widows: 0;
  orphans: 0;
  font-size: 14pt;
}

.Index,
.Standard,
.List,
.Textbody {
  widows: 0;
  orphans: 0;
  font-size: 12pt;
}

.List,
.Textbody {
  margin: 0 0 7pt;
  line-height: 115%;
}

@media (max-width: 900px) {
  img {
    max-width: 100%;
    height: auto;
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
}

