<app-white-container>
  <div class="container mt-3">
  <p class="Standard me-2" style="text-align:right; font-size:9pt">
    Centrum Terapii i Wsparcia Rozwoju <em>Równowaga</em>
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:center">
    <strong>POLITYKA OCHRONY DZIECI PRZED KRZYWDZENIEM</strong>
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard fw-bold" style="text-align:center">
    Preambuła
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:justify">
    Naczelną zasadą wszystkich działań podejmowanych przez personel placówki jest działanie dla dobra dziecka i w jego
    najlepszym interesie. Członkowie personelu traktują dziecko z szacunkiem oraz uwzględniają jego potrzeby.
    Niedopuszczalne jest stosowanie przez członków personelu wobec dziecka przemocy w jakiejkolwiek formie. Personel,
    realizując te cele, działa w ramach
  </p>
  <p class="Standard" style="text-align:justify">
    obowiązującego prawa, przepisów wewnętrznych placówki oraz swoich kompetencji.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <div class="fw-bold"><p class="Standard " style="text-align:center">
    Rozdział I
  </p>
    <p class="Standard" style="text-align:center">
      Objaśnienie pojęć
    </p>
    <p class="Standard" style="text-align:center">
      § 1.
    </p>
  </div>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:justify">
    1. Personelem lub członkiem personelu jest osoba zatrudniona na podstawie własnej działalności,
  </p>
  <p class="Standard" style="text-align:justify">
    umowy cywilnoprawnej a także wolontariusz i praktykant.
  </p>
  <p class="Standard" style="text-align:justify">
    2. Dzieckiem jest każda osoba do ukończenia 18. roku życia.
  </p>
  <p class="Standard" style="text-align:justify">
    3. Opiekunem dziecka jest osoba uprawniona do reprezentacji dziecka, w szczególności jego rodzic
  </p>
  <p class="Standard" style="text-align:justify">
    lub opiekun prawny. W myśl niniejszego dokumentu opiekunem jest również rodzic zastępczy.
  </p>
  <p class="Standard" style="text-align:justify">
    4. Zgoda rodzica dziecka oznacza zgodę co najmniej jednego z rodziców dziecka. Jednak w
  </p>
  <p class="Standard" style="text-align:justify">
    przypadku braku porozumienia między rodzicami dziecka należy poinformować rodziców o
  </p>
  <p class="Standard" style="text-align:justify">
    konieczności rozstrzygnięcia sprawy przez sąd rodzinny.
  </p>
  <p class="Standard" style="text-align:justify">
    5. Krzywdzenie dziecka należy rozumieć popełnienie czynu zabronionego lub czynu karalnego na
  </p>
  <p class="Standard" style="text-align:justify">
    szkodę dziecka przez jakąkolwiek osobę, w tym członka personelu placówki, lub zagrożenie dobra
  </p>
  <p class="Standard" style="text-align:justify">
    dziecka, w tym jego zaniedbywanie.
  </p>
  <p class="Standard" style="text-align:justify">
    6. Osoba odpowiedzialna za Politykę ochrony dzieci przed krzywdzeniem to wyznaczony przez
  </p>
  <p class="Standard" style="text-align:justify">
    kierownictwo placówki członek personelu sprawujący nadzór nad realizacją Polityki ochrony
  </p>
  <p class="Standard" style="text-align:justify">
    dzieci przed krzywdzeniem w placówce.
  </p>
  <p class="Standard" style="text-align:justify">
    7. Dane osobowe dziecka to wszelkie informacje umożliwiające identyfikację dziecka.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <div class="fw-bold"><p class="Standard" style="text-align:center">
    Rozdział II
  </p>
    <p class="Standard" style="text-align:center">
      Rozpoznawanie i reagowanie na czynniki ryzyka krzywdzenia dzieci
    </p>
    <p class="Standard" style="text-align:center">
      § 2.
    </p></div>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:justify">
    1. Personel placówki posiada wiedzę i w ramach wykonywanych obowiązków zwraca uwagę na
  </p>
  <p class="Standard" style="text-align:justify">
    czynniki ryzyka krzywdzenia dzieci.
  </p>
  <p class="Standard" style="text-align:justify">
    2. W przypadku zidentyfikowania czynników ryzyka członkowie personelu podejmują rozmowę z
  </p>
  <p class="Standard" style="text-align:justify">
    rodzicami, przekazując informacje na temat dostępnej oferty wsparcia i motywując ich do
  </p>
  <p class="Standard" style="text-align:justify">
    szukania dla siebie pomocy.
  </p>
  <p class="Standard" style="text-align:justify">
    3. Personel monitoruje sytuację i dobrostan dziecka.
  </p>
  <p class="Standard" style="text-align:justify">
    4. Rekrutacja członków personelu Centrum odbywa się zgodnie z zasadami bezpiecznej rekrutacji
  </p>
  <p class="Standard" style="text-align:justify">
    personelu. Zasady stanowią Załącznik nr 1 do niniejszej Polityki.
  </p>
  <p class="Standard" style="text-align:justify">
    5. Personel zna i stosuje zasady bezpiecznych relacji personel – dziecko ustalone w placówce.
  </p>
  <p class="Standard" style="text-align:justify">
    Zasady stanowią Załącznik nr 2 do niniejszej Polityki.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <div class="fw-bold"><p class="Standard" style="text-align:center">
    Rozdział III
  </p>
    <p class="Standard" style="text-align:center">
      Procedury interwencji w przypadku podejrzenia krzywdzenia dziecka – zasady ogólne
    </p>
    <p class="Standard" style="text-align:center">
      § 3.
    </p></div>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Zagrożenie bezpieczeństwa małoletnich może przybierać różne formy, z wykorzystaniem różnych sposobów kontaktu i
    komunikowania.
  </p>
  <p class="Standard">
    2. Na potrzeby Polityki przyjęto następującą kwalifikację zagrożenia bezpieczeństwa dzieci:
  </p>
  <p class="Standard">
    • popełniono przestępstwo na szkodę dziecka (np. wykorzystanie seksualne, gwałt, znęcanie
  </p>
  <p class="Standard">
    się nad dzieckiem),
  </p>
  <p class="Standard">
    • doszło do innej formy krzywdzenia, niebędącej przestępstwem, takiej jak np. krzyk, kary
  </p>
  <p class="Standard">
    fizyczne, poniżanie;
  </p>
  <p class="Standard">
    • doszło do zaniedbania potrzeb życiowych dziecka (np. związanych z żywieniem, higieną czy
  </p>
  <p class="Standard">
    zdrowiem);
  </p>
  <p class="Standard fw-bold" style="text-align:center">
    § 4.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. W przypadku podjęcia przez pracownika placówki podejrzenia, że dziecko jest krzywdzone,
  </p>
  <p class="Standard">
    pracownik ma obowiązek sporządzenia notatki służbowej.
  </p>
  <p class="Standard">
    2. Pracownik wzywa rodziców dziecka, którego krzywdzenie podejrzewa, oraz informuje ich o
  </p>
  <p class="Standard">
    podejrzeniu.
  </p>
  <p class="Standard">
    3. Pracownik powinien sporządzić plan pomocy dziecku.
  </p>
  <p class="Standard">
    4. Plan pomocy dziecku powinien zawierać wskazania dotyczące:
  </p>
  <p class="Standard">
    • podjęcia przez placówkę działań w celu zapewnienia dziecku bezpieczeństwa, w tym
  </p>
  <p class="Standard">
    zgłoszenie podejrzenia krzywdzenia do odpowiedniej placówki;
  </p>
  <p class="Standard">
    • skierowania dziecka do specjalistycznej placówki pomocy dziecku, jeżeli istnieje taka
  </p>
  <p class="Standard">
    potrzeba.
  </p>
  <p class="Standard fw-bold" style="text-align:center">
    § 6.
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    1. Z przebiegu interwencji sporządza się kartę interwencji, której wzór stanowi Załącznik nr 3 do
  </p>
  <p class="Standard">
    niniejszej Polityki. Kartę załącza się do dokumentacji prowadzonej przez osobę wyznaczaną do
  </p>
  <p class="Standard">
    koordynowania stosowania standardów ochrony małoletnich.
  </p>
  <p class="Standard">
    2. Wszyscy pracownicy i inne osoby, które w związku z wykonywaniem obowiązków służbowych
  </p>
  <p class="Standard">
    podjęły informację o krzywdzeniu dziecka lub informacje z tym związane, są zobowiązane do
  </p>
  <p class="Standard">
    zachowania tych informacji w tajemnicy, wyłączając informacje przekazywane uprawnionym
  </p>
  <p class="Standard">
    instytucjom w ramach działań interwencyjnych.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <div class="fw-bold"><p class="Standard" style="text-align:center">
    Rozdział IV
  </p>
    <p class="Standard" style="text-align:center">
      Zasady ochrony wizerunku dziecka
    </p>
    <p class="Standard" style="text-align:center">
      § 7.
    </p></div>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Placówka zapewnia najwyższe standardy ochrony danych osobowych dzieci zgodnie z
  </p>
  <p class="Standard">
    obowiązującymi przepisami prawa.
  </p>
  <p class="Standard">
    2. Placówka, uznając prawo dziecka do prywatności i ochrony dóbr osobistych, zapewnia ochronę
  </p>
  <p class="Standard">
    wizerunku dziecka.
  </p>
  <p class="Standard">
    3. Wytyczne dotyczące zasad publikacji wizerunku dziecka stanowią Załącznik nr 4 do niniejszej
  </p>
  <p class="Standard">
    Polityki.
  </p>
  <p class="Standard fw-bold" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard fw-bold" style="text-align:center">
    § 9.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Personelowi placówki nie wolno umożliwiać przedstawicielom mediów utrwalania wizerunku
  </p>
  <p class="Standard">
    dziecka (filmowanie, fotografowanie, nagrywanie głosu dziecka) na terenie placówki bez
  </p>
  <p class="Standard">
    pisemnej zgody rodzica lub opiekuna prawnego dziecka.
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    2. W celu uzyskania zgody, o której mowa powyżej, członek personelu placówki może skontaktować się z opiekunem
    dziecka i ustalić procedurę uzyskania zgody. Niedopuszczalne jest podanie przedstawicielowi mediów danych
    kontaktowych do opiekuna dziecka – bez wiedzy i zgody tego opiekuna.
  </p>
  <p class="Standard">
    3. Jeżeli wizerunek dziecka stanowi jedynie szczegół całości, takiej jak: zgromadzenie, krajobraz,
  </p>
  <p class="Standard">
    publiczna impreza, zgoda rodzica lub opiekuna prawnego na utrwalanie wizerunku dziecka nie
  </p>
  <p class="Standard">
    jest wymagana.
  </p>
  <p class="Standard fw-bold" style="text-align:center">
    § 10.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Upublicznienie przez personel placówki wizerunku dziecka utrwalonego w jakiejkolwiek formie
  </p>
  <p class="Standard">
    (fotografia, nagranie audio-wideo) wymaga pisemnej zgody rodzica lub opiekuna prawnego
  </p>
  <p class="Standard">
    dziecka.
  </p>
  <p class="Standard">
    2. Pisemna zgoda, o której mowa w ust. 1., powinna zawierać informację, gdzie będzie umieszczony zarejestrowany
    wizerunek i w jakim kontekście będzie wykorzystywany (np. że umieszczony zostanie na stronie
    Facebook/Instagram/strona internetowa Centrum w celach promocyjnych).
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <div class="fw-bold"><p class="Standard" style="text-align:center">
    Rozdział V
  </p>
    <p class="Standard" style="text-align:center">
      Monitoring stosowania Polityki
    </p>
    <p class="Standard" style="text-align:center">
      § 14.
    </p></div>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Właściciele placówki, są odpowiedzialni za monitorowanie realizacji standardów, reagowanie na
  </p>
  <p class="Standard">
    sygnały ich naruszenia, ewaluowanie i modyfikowanie zapisów standardów i prowadzenie
  </p>
  <p class="Standard">
    rejestru interwencji i zgłoszeń.
  </p>
  <p class="Standard">
    2. Właściciele placówki wprowadzają do Polityki niezbędne zmiany i ogłaszają personelowi placówki nowe brzmienie
    Polityki.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <div class="fw-bold">
    <p class="Standard" style="text-align:center">
      Rozdział VII
    </p>
    <p class="Standard" style="text-align:center">
      Przepisy końcowe
    </p>
    <p class="Standard" style="text-align:center">
      § 15.
    </p>
  </div>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Polityka wchodzi w życie z dniem jej ogłoszenia.
  </p>
  <p class="Standard">
    2. Ogłoszenie następuje w sposób dostępny dla personelu placówki, dzieci i ich opiekunów w
  </p>
  <p class="Standard">
    szczególności poprzez&#xa0; zamieszczenie na stronie internetowej placówki.
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:right">
    Załącznik nr 1
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <strong><p class="Standard" style="text-align:center">
    ZASADY BEZPIECZNEJ REKRUTACJI PERSONELU
  </p></strong>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    1. Rekrutacja pracowników odbywa się zgodnie z obowiązującymi przepisami.
  </p>
  <p class="Standard">
    2. Placówka musi zadbać, aby osoby przez nią zatrudnione (w tym osoby pracujące na podstawie
  </p>
  <p class="Standard">
    umowy zlecenie, własnej działalności oraz wolontariusze/praktykanci) posiadały odpowiednie kwalifikacje do pracy z
    dziećmi oraz były dla nich bezpieczne.
  </p>
  <p class="Standard">
    3. Każda osoba jest sprawdzana w Rejestrze Sprawców Przestępstw na Tle Seksualnym i zobowiązana jest dostarczyć
    Centrum zaświadczenie o niekaralności.
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <strong><p class="Standard" style="text-align:center">
    ZASADY BEZPIECZNYCH RELACJI PRACOWNIKÓW PLACÓWKI Z MAŁOLETNIMI
  </p></strong>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Jesteś zobowiązany/a do utrzymywania profesjonalnej relacji z małoletnimi i każdorazowego
  </p>
  <p class="Standard">
    rozważenia, czy Twoja reakcja, komunikat bądź działanie wobec dziecka/ucznia są adekwatne do
  </p>
  <p class="Standard">
    sytuacji, bezpieczne, uzasadnione i sprawiedliwe wobec innych małoletnich.
  </p>
  <p class="Standard">
    Działaj w sposób otwarty i przejrzysty dla innych, aby zminimalizować ryzyko błędnej interpretacji
  </p>
  <p class="Standard">
    Twojego zachowania.
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Zachowania pozytywne:
  </p>
  <p class="Standard">
    1. W komunikacji z małoletnim zachowuj cierpliwości i szacunek.
  </p>
  <p class="Standard">
    2. Słuchaj uważnie małoletniego i udzielaj mu odpowiedzi adekwatnych do wieku i sytuacji.
  </p>
  <p class="Standard">
    3. W komunikacji z małoletnim staraj się, by Twoja twarz była na poziomie jego twarzy.
  </p>
  <p class="Standard">
    4. Zapewnij małoletnich, że jeżeli czują się niekomfortowo z jakimś zachowaniem, sytuacją czy
  </p>
  <p class="Standard">
    słowami mogą o tym powiedzieć Tobie i mogą oczekiwać reakcji / pomocy.
  </p>
  <p class="Standard">
    5. Doceniaj i szanuj wkład małoletnich w podejmowanie działań i traktuj ich równo (bez względu na ich płeć,
    orientację seksualną, sprawność / niepełnosprawność, status społeczny, etniczny,
  </p>
  <p class="Standard">
    kulturowy, religijny i światopogląd).
  </p>
  <p class="Standard">
    6. Szanuj prawo małoletniego do prywatności, a jeżeli musisz odstąpić od tej zasady wyjaśnij to.
  </p>
  <p class="Standard">
    7. Podejmując decyzje dotyczące małoletniego poinformuj go o tym i staraj się brać pod uwagę jego
  </p>
  <p class="Standard">
    oczekiwania.
  </p>
  <p class="Standard">
    8. Unikaj zbędnego ryzyka w pracy z małoletnim – sprawdzaj czy sprzęt i otoczenie jest bezpieczne.
  </p>
  <p class="Standard">
    9. Zawsze bądź przygotowany na wyjaśnienie swoich działań wobec małoletnich.
  </p>
  <p class="Standard">
    10. Zachowaj szczególną ostrożność wobec małoletnich który doświadczyli nadużycia i krzywdzenia, w tym seksualnego,
    fizycznego bądź zaniedbania. Takie doświadczenia mogą czasem sprawić, że dziecko będzie dążyć do nawiązania
    niestosownych bądź nieadekwatnych fizycznych kontaktów z dorosłymi. W takich sytuacjach powinieneś reagować z
    wyczuciem, jednak stanowczo i pomóc małoletniemu zrozumieć znaczenie osobistych granic.
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Zachowania negatywne:
  </p>
  <p class="Standard">
    1. Nie wolno Ci zawstydzać, upokarzać, lekceważyć i obrażać małoletniego.
  </p>
  <p class="Standard">
    2. Nie wolno Ci krzyczeć na małoletniego w sytuacji innej niż wynikająca z jego bezpieczeństwa lub innych
    małoletnich.
  </p>
  <p class="Standard">
    3. Nie wolno Ci bić, szturchać, popychać ani w inny sposób naruszać nietykalność fizyczną
  </p>
  <p class="Standard">
    małoletniego.
  </p>
  <p class="Standard">
    4. Nie wolno Ci nawiązywać z małoletnim jakichkolwiek relacji intymnych lub seksualnych
  </p>
  <p class="Standard">
    (seksualne żarty, komentarze, gesty, udostępnianie treści erotycznych lub pornograficznych, bez
  </p>
  <p class="Standard">
    względu na formę). Wszystkie ryzykowne sytuacje, które obejmują zauroczenie małoletnim przez
  </p>
  <p class="Standard">
    pracownika lub pracownikiem przez małoletniego, muszą być zgłaszane właścicieli placówki. Jeśli
  </p>
  <p class="Standard">
    jesteś ich świadkiem reaguj, ale z zachowaniem godności osób zainteresowanych.
  </p>
  <p class="Standard">
    5. Nie wolno Ci utrwalać wizerunku małoletniego dla potrzeb prywatnych (filmowanie, nagrywanie
  </p>
  <p class="Standard">
    głosu, fotografowanie.) Dotyczy to także umożliwienia osobom trzecim utrwalenia wizerunków
  </p>
  <p class="Standard">
    dzieci, jeśli właściciel Centrum nie został o tym poinformowany, nie wyraziła na to zgody i nie uzyskał zgód
    rodziców/opiekunów prawnych. Nie dotyczy to zdjęć dokumentujących dane wydarzenie zgodnie z art. 81 prawa
    autorskiego.
  </p>
  <p class="Standard">
    6. Nie wolno Ci zapraszać małoletnich do swojego prywatnego domu / mieszkania ani spotykać się z nimi poza godzinami
    pracy. Jeśli zachodzi konieczność spotkania z małoletnimi poza godzinami
  </p>
  <p class="Standard">
    pracy, musisz poinformować o tym właściciela Centrum, a rodzice i małoletni muszą wyrazić zgodę na taki kontakt.
  </p>
  <p class="Standard">
    7. Nie wolno Ci kontaktować się z małoletnimi przez prywatne kanały komunikacji i media
  </p>
  <p class="Standard">
    (prywatny telefon, e-mail, komunikatory, profile w mediach społecznościowych). Jeśli zachodzi
  </p>
  <p class="Standard">
    taka konieczność, właściwą formą komunikacji z małoletnimi i ich rodzicami poza godzinami
  </p>
  <p class="Standard">
    pracy są kanały służbowe.
  </p>
  <p class="Standard">
    8. Nie wolno Ci proponować małoletnim alkoholu, wyrobów tytoniowych ani nielegalnych
  </p>
  <p class="Standard">
    substancji, jak również używać ich w ich obecności.
  </p>
  <p class="Standard">
    9. Jeżeli będziesz świadkiem jakiegokolwiek z wyżej opisanych zachowań, sytuacji ze strony innych dorosłych lub
    dzieci, zawsze poinformuj o tym właścicieli Centrum lub postąp zgodnie z procedurą interwencji opisaną w Polityce.
  </p>
  <p class="Standard">
    10. Jeżeli utrzymujesz relacje towarzyskie lub rodzinne z rodzicami małoletniego (jeśli małoletni i
  </p>
  <p class="Standard">
    rodzice są osobami bliskimi wobec pracownika) zachowuj poufność wszystkich informacji
  </p>
  <p class="Standard">
    dotyczących innych dzieci, ich rodziców oraz opiekunów.
  </p>
  <p class="Standard">
    11. Nie podejmuj innego niż niezbędny kontakt fizyczny z dzieckiem
  </p>
  <p class="Standard">
    Istnieją jednak sytuacje, w których fizyczny kontakt z dzieckiem może być stosowny i spełnia
  </p>
  <p class="Standard">
    zasady bezpiecznego kontaktu: jest odpowiedzią na potrzeby dziecka w danym momencie,
  </p>
  <p class="Standard">
    uwzględnia wiek dziecka, etap rozwojowy, płeć, kontekst kulturowy i sytuacyjny.
  </p>
  <p class="Standard">
    Kieruj się zawsze swoim profesjonalnym osądem, słuchając, obserwując i odnotowując reakcję
  </p>
  <p class="Standard">
    dziecka, pytając je o zgodę na kontakt fizyczny (np. przytulenie) i zachowując świadomość, że
  </p>
  <p class="Standard">
    nawet przy Twoich dobrych intencjach taki kontakt może być błędnie zinterpretowany przez
  </p>
  <p class="Standard">
    małoletniego lub osoby trzecie.
  </p>
  <p class="Standard">
    Zatem można w zależności o wieku, sytuacji, innych czynników wykonywać czynności
  </p>
  <p class="Standard">
    pielęgnacyjne, higieniczne, pomagania dziecku w ubieraniu i rozbieraniu, myciu, korzystaniu z
  </p>
  <p class="Standard">
    toalety, powstrzymania dziecka od zrobienia sobie lub innym krzywdy, asekurowania podczas
  </p>
  <p class="Standard">
    wykonywania ćwiczeń, wspierania dziecka podczas wykonywania zadań diagnostycznych i
  </p>
  <p class="Standard">
    terapeutycznych (np. ćwiczeń integracji sensorycznej, INPP, masażu neurotaktylnego itd.).
  </p>
  <p class="Standard">
    Kontakt fizyczny z dzieckiem nigdy nie może być niejawny bądź ukrywany, wiązać się z
  </p>
  <p class="Standard">
    jakąkolwiek gratyfikacją ani wynikać z relacji władzy.
  </p>
  <p class="Standard">
    12. Nie wolno Ci ujawniać informacji wrażliwych dotyczących małoletniego wobec osób
  </p>
  <p class="Standard">
    nieuprawnionych, w tym wobec innych małoletnich. Obejmuje to wizerunek dziecka, informacje
  </p>
  <p class="Standard">
    o jego/jej sytuacji rodzinnej, ekonomicznej, medycznej, opiekuńczej i prawnej.
  </p>
  <p class="Standard">
    13. Nie wolno Ci zachowywać się w obecności małoletnich w sposób niestosowny. Obejmuje to
  </p>
  <p class="Standard">
    używanie wulgarnych słów, gestów i żartów, czynienie obraźliwych uwag, nawiązywanie w
  </p>
  <p class="Standard">
    wypowiedziach do aktywności bądź atrakcyjności seksualnej oraz wykorzystywanie wobec
  </p>
  <p class="Standard">
    małoletniego relacji władzy lub przewagi fizycznej (zastraszanie, przymuszanie, groźby).
  </p>
  <p class="Standard">
    14. Nigdy nie dotykaj małoletniego w sposób, który może być uznany za nieprzyzwoity lub
  </p>
  <p class="Standard">
    niestosowny.
  </p>
  <p class="Standard">
    15. Jeżeli będziesz świadkiem jakiegokolwiek z wyżej opisanych zachowań, sytuacji ze strony innych dorosłych lub
    małoletnich, zawsze poinformuj o tym właściciela Centrum lub postąp zgodnie z procedurą interwencji opisaną w
    Polityce/ procedurach wewnętrznych.
  </p>
  <p class="Standard" style="text-align:right; font-size:9pt">
    &#xa0;
  </p>

  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:right">
    Załącznik nr 3
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <strong><p class="Standard" style="text-align:center">
    KARTA INTERWENCJI
  </p></strong>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Imię i nazwisko dziecka:
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Przyczyna interwencji (forma krzywdzenia):
  </p>
  <p class="Standard">
    &#xa0;
  </p>

  <p class="Standard">
    Osoba zawiadamiająca o podejrzeniu krzywdzenia:
  </p>
  <p class="Standard">
    Opis działań podjętych przez: Data:&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;
  </p>
  <p class="Standard">
    Działanie:
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Spotkania z rodzicami dziecka Data:
  </p>
  <p class="Standard">
    Opis spotkania:
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Forma podjętej interwencji
  </p>
  <p class="Standard">
    (zakreślić właściwe)
  </p>
  <p class="Standard">
    &#xa0;1. zawiadomienie o podejrzeniu popełnienia przestępstwa,
  </p>
  <p class="Standard">
    2. inny rodzaj interwencji. Jaki?
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Dane dotyczące interwencji Data:
  </p>
  <p class="Standard">
    &#xa0;Nazwa organu, do którego zgłoszono interwencję:
  </p>
  <p class="Standard">
    Wyniki interwencji:
  </p>
  <p class="Standard">
    &#xa0;
  </p>
  <p class="Standard">
    Działania organów wymiaru sprawiedliwości, jeśli jednostka uzyskała informacje o wynikach/
  </p>
  <p class="Standard">
    działania placówki/działania rodziców
  </p>

  <p class="Standard">
    &#xa0;
  </p>

  <p class="Standard" style="text-align:right">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:right">
    Załącznik nr 4
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <strong><p class="Standard" style="text-align:center">
    ZASADY OCHRONY WIZERUNKU I DANYCH OSOBOWYCH DZIECI
  </p></strong>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard">
    Dbamy o bezpieczeństwo wizerunków dzieci poprzez:
  </p>
  <p class="Standard">
    1. Pisemne zgody rodziców/opiekunów prawnych dzieci przed zrobieniem i publikacją zdjęć i/lub
  </p>
  <p class="Standard">
    nagrań.
  </p>
  <p class="Standard">
    2. Udzieleni wyjaśnień, w jakim celu wykorzystamy zdjęcie/nagranie i w jakim kontekście, jak
  </p>
  <p class="Standard">
    będziemy przechowywać te dane.
  </p>
  <p class="Standard">
    3. Brak podpisywania zdjęć/nagrań informacjami, dzięki którym możliwa byłaby identyfikacja dziecka.
  </p>
  <p class="Standard">
    Jeśli konieczne jest podpisanie to używamy tylko imienia.
  </p>
  <p class="Standard">
    4. Przyjmujemy zasadę, że wszystkie podejrzenia i problemu dotyczące niewłaściwego
  </p>
  <p class="Standard">
    rozpowszechniania wizerunków dzieci należy rejestrować i zgłaszać do dyrekcji placówki, podobnie
  </p>
  <p class="Standard">
    jak inne niepokojące sygnały dotyczące zagrożenia bezpieczeństwa dzieci.
  </p>
  <p class="Standard">
    5. Rezygnację z publikacji zdjęć dzieci, nad którymi nie sprawujemy już opieki, jeśli one lub i rodzice/opiekunowie
    prawni nie wyrazili zgody na wykorzystanie zdjęć po odejściu z instytucji.
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p class="Standard" style="text-align:center">
    &#xa0;
  </p>
  <p style="bottom: 10px; right: 10px; position: absolute;"></p>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>


