<div>
  <section class='top-hero'>
    <video #videoElement class="aboutus-hero" [muted]="'muted'" playsinline autoplay loop [poster]="videoPoster">
      <source src="../../../assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz2.mp4" type="video/mp4">
      Twoja przeglądarka nie wspiera elementu video.
    </video>
    <div class='text-container'>
      <h1 class='top-title'>Centrum Terapii i&nbsp;Wsparcia Rozwoju Równowaga w&nbsp;Kaliszu</h1>
      <h2 class='under-title'>Kompleksowe wsparcie psychologiczno-pedagogiczne dla dzieci, młodzieży i&nbsp;rodziców w&nbsp;przypadku trudności neurorozwojowych, emocjonalnych, motorycznych, a&nbsp;także przetwarzania wzrokowego, słuchowego i&nbsp;procesów integracji sensorycznej.</h2>
      <app-transparent-btn routerLink="contact">umów wizytę
        <mat-icon class="arrow ms-2 mb-1">
          arrow_right_alt
        </mat-icon>
      </app-transparent-btn>
    </div>
  </section>
  <app-assistance-scope></app-assistance-scope>
  <section class="welcome-box text-center">
    <div class="content-box container">
      <h2 class="container-title">Filary naszej pracy</h2>
      <div class="">
        <div class="container">
          <p><b>Równowaga</b> to miejsce, w&nbsp;którym uzyskacie Państwo <b>całościowe wsparcie</b> w&nbsp;różnych wyzwaniach,  z&nbsp;którymi zmagają się wasze dzieci, a&nbsp;także Wy&nbsp;– jako rodzice.</p>
          <div class="row">
            <div class="section col-sm-12 col-md-4 mt-3">
              <picture>
                <source srcset="assets/img/development.webp" type="image/webp">
                <img src="assets/img/development.png" alt="ikona postaci wchodząca coraz wyżej po słupkach" class="card-img-top">
              </picture>
              <h3>Rozwój</h3>
              <p>Pomagamy w&nbsp;prawidłowym rozwoju senso-motorycznym, neurorozwojowym, i&nbsp;społeczno-emocjonalnym.</p>
            </div>

            <div class="section col-sm-12 col-md-4 mt-3">
              <picture>
                <source srcset="assets/img/social-justice.webp" type="image/webp">
                <img src="assets/img/social-justice.png" alt="ikona dłoni okalających trzy postacie" class="card-img-top">
              </picture>
              <h3>Wsparcie</h3>
              <p>Słuchamy Państwa obaw, analizujemy trudności i&nbsp;udzielamy kompleksowego wsparcia i&nbsp;opieki.</p>
            </div>

            <div class="section col-sm-12 col-md-4 mt-3">
              <picture>
                <source srcset="assets/img/businessman.webp" type="image/webp">
                <img src="assets/img/businessman.png" alt="ikona ukazująca człowieka ze&nbsp;znaczkiem oznaczającym profesjonalizm" class="card-img-top">
              </picture>
              <h3>Profesjonalizm</h3>
              <p>Służymy profesjonalną pomocą, tak aby dzieci mogły każdego dnia rozwijać swój potencjał, czerpiąc przy tym nieograniczone korzyści z&nbsp;ruchu i&nbsp;zabawy.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="photo-box">
        <picture>
          <source srcset="assets/img/bawiace-sie-dzieci-centrum-rownowaga.webp" type="image/webp">
          <img
            src="assets/img/bawiace-sie-dzieci-centrum-rownowaga.jpg"
            alt="Bawiace się dzici, terapia integracji sensorycznej">
        </picture>
      </div>
    </div>
  </section>
  <app-therapists></app-therapists>
  <div class="review-box">
    <div class="elfsight-app-b000479e-da0c-4585-addf-afd7bc9ce4e3" data-elfsight-app-lazy></div>
  </div>
  <app-faq></app-faq>
</div>
