<div>
  <section class='top-hero'>
    <video class="aboutus-hero" autoplay loop muted>
      <source src="../../../assets/video/zabawa_z_terapeuta.mp4" type="video/mp4">
      Twój przeglądarka nie wspiera elementu video.
    </video>
    <div class='text-container'>
      <h1 class='top-hero-text'>Psychoterapia i pomoc psychologiczna w Kaliszu </h1>
      <h2 class='top-hero-text-sm'>Kompleksowa pomoc psychologiczno-psychiatryczna w przypadku występowania zaburzeń
        psychicznych, trudności emocjonalnych, kryzysów psychicznych.</h2>
      <app-white-button (click)="redirectToAppointment()">umów wizytę
        <mat-icon class="arrow ms-2 mb-1">
          arrow_right_alt
        </mat-icon>
      </app-white-button>
    </div>
  </section>
  <app-assistance-scope></app-assistance-scope>
  <section class="text-box">
    <h2 class="container-title text-center">Kiedy warto skorzystać z terapii?</h2>
    <p>Psychoterapia jest dla każdej osoby, która doświadcza dyskomfortu natury psychicznej. Pomagamy osobom
      cierpiącym z powodu trudności o podłożu emocjonalnym, doświadczających trudności w relacjach z innymi, w relacji
      z samym z sobą, wspieramy w przejściu przez trudne wydarzenia życiowe i kryzysy, pogodzeniu się ze stratami,
      wzmacniamy w budowaniu stabilnej przyszłości.
    </p>
    <p class="fw-bold">Terapia będzie dla Ciebie skutecznym rozwiązaniem jeśli chcesz:</p>
    <ul>
      <li>Towarzyszył Ci na co dzień zrównoważony nastrój</li>
      <li>Tworzyć satysfakcjonujące relacje</li>
      <li>Mieć poczucie sensu życia</li>
      <li>Być zadowolonym z siebie</li>
      <li>Mieć dobre myśli i nastawienie dotyczące swojej przyszłości</li>
      <li>Posiadać poczucie własnej skuteczności i kontroli</li>
      <li>Odzyskać wewnętrzną równowagę i spokój</li>
      <li>Być bardziej świadomym tego, czego doświadczasz</li>
      <li>Zmienić niesłużące schematy zachowań</li>
      <li>Uporać się z przeszłością</li>
    </ul>
  </section>
  <app-therapists></app-therapists>

</div>
