<div>
  <section class='top-hero'>
    <video class="aboutus-hero" autoplay loop muted>
      <source src="../../../assets/video/zabawa_z_terapeuta.mp4" type="video/mp4">
      Twój przeglądarka nie wspiera elementu video.
    </video>
    <div class='text-container'>
      <h1 class='top-hero-text'>Psychoterapia i pomoc psychologiczna w Kaliszu </h1>
      <h2 class='top-hero-text-sm'>Kompleksowa pomoc psychologiczno-psychiatryczna w przypadku występowania zaburzeń
        psychicznych, trudności emocjonalnych, kryzysów psychicznych.</h2>
      <app-white-button (click)="redirectToAppointment()">umów wizytę
        <mat-icon class="arrow ms-2 mb-1">
          arrow_right_alt
        </mat-icon>
      </app-white-button>
    </div>
  </section>
  <app-assistance-scope></app-assistance-scope>
  <section class="welcome-box">
    <div class="text-box row">
      <h2 class="container-title text-center">Witaj w Równowadze</h2>
      <div class="col">
        <p>Równowaga to miejsce, w którym uzyskacie Państwo całościowe wsparcie w różnych wyzwaniach, z
          którymi zmagają się wasze dzieci, a także Wy – jako rodzice. Pomagamy w prawidłowym rozwoju senso-
          motorycznym, neurorozwojowym, słuchowym i społeczno-emocjonalnym. Słuchamy Państwa obaw,
          analizujemy trudności i udzielamy kompleksowego wsparcia i opieki. Służymy profesjonalną pomocą, tak
          aby dzieci mogły każdego dnia rozwijać swój pontencjał, czerpiąc przy tym nieograniczone korzyści z
          ruchu i zabawy. Zapraszamy do współpracy.
        </p></div>
      <div class="col">
        <img src=" assets/img/child-7248693_1280.jpg" alt="child">
      </div>
    </div>
  </section>
  <app-therapists></app-therapists>

</div>
