/*section 1*/

.top-hero {
  position: relative;
  width: 100%; /* Zapewnia, że kontener rozciąga się na całą szerokość */
  z-index: 0;
}

.aboutus-hero {
  width: 100%; /* 100% szerokości viewport */
  height: 99vh; /* 100% wysokości viewport */

  object-fit: cover; /* Zapewnia pokrycie całego kontenera, zachowując proporcje */
}

.text-container {
  position: absolute; /* Kluczowe zmiany tutaj, aby umieścić tekst na filmie */
  top: 40%; /* Centruje tekst w pionie */
  left: 50%; /* Centruje tekst w poziomie */
  transform: translate(-50%, -50%); /* Precyzyjne centrowanie */
  color: var(--white-color); /* Zapewnia, że tekst jest biały */
  text-align: center; /* Opcjonalnie, centruje tekst w kontenerze */
  max-width: 100%; /* Ogranicza szerokość tekstu do 80% szerokości kontenera */
  z-index: 1; /* Zapewnia, że tekst znajduje się nad filmem */
}

.text-container {
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  line-height: 1.2;
}

.top-hero-text {
  font-size: 40px;
}

.top-hero-text-sm {
  font-size: 20px;
}

.arrow {
  font-size: 29px;
}

app-white-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*section 2*/
.welcome-box {
  background-color: var(--pastel-color);
}

.text-box {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container-title {
  font-size: 40px;
  margin: 40px 0 20px 0;
  font-weight: lighter;
  line-height: 1.1;
  font-family: "Comfortaa", sans-serif;
}

.welcome-box img {
  height: 700px;
}

/*Section 3*/

