<app-white-container>
  <div class="p-3">
    <h1>Terapia widzenia, rehabilitacja wzroku</h1>
    <img src="assets/img/terapia_widzenia.png"
         alt="Badanie słuchu wielkie oko i naukowcy którzy je badają"
         class="vision-img float-md-end img-fluid mb-3">
    <p class="text-justify">Polega na wykształceniu lub usprawnieniu umiejętności prawidłowego widzenia za pomocą treningu opartego na
      systematycznych ćwiczeniach wzrokowych. Terapia widzenia może być prowadzona w każdym wieku, u dzieci i u
      dorosłych.</p>

    <h2>Do czego służy trening lub terapia widzenia?</h2>
    <p class="text-justify">Terapia widzenia to aktywny trening całego procesu widzenia. Zaczynamy od podstawowych funkcji widzenia takich
      jak orientacja czy ruchy oczu. Potem przechodzimy do coraz bardziej zaawansowanych – widzenie obuoczne i
      akomodacja. Kończymy na funkcjach poznawczych, percepcyjnych i kognitywnych widzenia.</p>
    <p class="text-justify">Podczas treningu wzrokowego uczymy się świadomie używać swoich oczu, ulepszamy możliwości wzrokowe i usuwamy
      zaburzenia.</p>

    <h2>Kiedy Pacjent powinien rozważyć terapię wzroku? Niepokojące objawy</h2>
    <p class="text-justify" >Rozważ terapię widzenia, jeśli zauważysz u siebie chwilowe lub długotrwałe pogorszenie sprawności widzenia, masz
      częste bóle głowy i/lub oczu, trudności z prowadzeniem pojazdu po zmroku, a praca przy komputerze sprawia Ci
      dyskomfort. Pamiętaj, jeśli coś Cię niepokoi, nie czekaj z wizytą u specjalisty, który zdiagnozuje
      nieprawidłowości i pomoże Ci w usprawnieniu umiejętności prawidłowego widzenia, opracowując indywidualny program
      leczenia.</p>

    <h2>Stosując terapię widzenia poprawiamy:</h2>
    <ul class="text-justify">
      <li>świadome wykorzystanie obwodowego widzenia;</li>
      <li>ruchy gałek ocznych;</li>
      <li>koordynację oko – ręka;</li>
      <li>szybkość postrzegania;</li>
      <li>koncentrację;</li>
      <li>śledzenie oczu;</li>
      <li>ostrość widzenia.</li>
    </ul>

    <h2>W jakich chorobach i zaburzeniach widzenia pomaga rehabilitacja wzroku?</h2>
    <p class="text-justify">Terapia widzenia ma na celu rozwój, poprawę i rehabilitację wybranych funkcji wzrokowych. Przykładowo może
      przynieść szereg korzyści Pacjentom z niedowidzeniem i zezem. Często korzystają z niej osoby, które mają problemy
      z widzeniem przestrzennym, percepcją głębi, percepcją wzrokową i przetwarzaniem. Wskazaniem do terapii wzrokowej
      dzieci i dorosłych jest również:</p>
    <ul class="text-justify">
      <li>dwojenie patologiczne,</li>
      <li>trudności z koncentracją,</li>
      <li>zmęczenie oczu,</li>
      <li>mrużenie i pocieranie oczu,</li>
      <li>zaburzenia akomodacji,</li>
      <li>trudności z koordynacją ręka-oko,</li>
      <li>zaburzenia wergencji,</li>
      <li>zaburzenia astenopijne (np. bóle głowy).</li>
    </ul>

    <h2>Kiedy powinniśmy zgłosić się na diagnozę z dzieckiem?</h2>
    <p>Gdy:</p>
    <ul class="text-justify">
      <li>zezuje na jedno lub dwoje oczu,</li>
      <li>męczy się przenoszeniem uwagi wzrokowej między dalą a bliżą,</li>
      <li>mruży oczy,</li>
      <li>ma tendencję do zamykania lub przymykania jednego oka przy patrzeniu,</li>
      <li>przechyla głowę na bark,</li>
      <li>skarży się na pieczenie i nadmierne łzawienie oczu,</li>
      <li>często pociera oczy, przybliża przedmioty do oczu i podchodzi blisko do ekranu telewizora,</li>
      <li>ma trudności z czytaniem,</li>
      <li>ma problemy z nauką chodzenia i schodzenia po schodach oraz jazdy na rowerze,</li>
      <li>podczas czytania lub pisania gubi litery, cyfry i fragmenty słów bądź przestawia ich kolejność,</li>
      <li>podczas pisania nie mieści się w liniaturze lub używa pisma lustrzanego,</li>
      <li>ma trudności z koncentracją,</li>
      <li>wykazuje niechęć do rysowania i malowania,</li>
      <li>jest nadwrażliwe na światło,</li>
      <li>ma zaburzenia psychoruchowe.</li>
    </ul>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>
