<div
  class="znanyLekarz d-flex flex-column flex-sm-row justify-content-center align-items-center ms-sm-4 text-center text-sm-start"
>
  <h4 class="mb-0">
    Sprawdź opinie na&nbsp;mój temat
    <img
      class="ms-3 arrow d-sm-inline d-none"
      src="assets/img/next.png"
      alt="Ikona strzałki w prawo"
    />
  </h4>
  <img
    class="ms-3 arrow d-sm-none"
    src="assets/img/down-arrow.png"
    alt="Ikona strzałki w dół"
  />
  <div class="mb-4 ms-3">
    <a
      [href]="therapist?.znanyLekarz"
      target="_blank"
      rel="noopener noreferrer"
      class="me-2"
    >
      <img
        class="znany-icon mt-3 w-75"
        src="assets/img/znanylekarz.jpg"
        alt="Ikona portalu ZnanyLekarz"
      />
    </a>
  </div>
</div>
