<app-white-container>
  <div class="mnri-neurotactile-therapy p-3">
    <h1>MNRI® Terapia Neurotaktylna</h1>
    <p>Terapia Taktylna jest jedną z bazowych terapii stosowanych w metodzie MNRI® dr Svetlany Masgutovej.</p>

    <h2>Na czym polega Terapia Neurotaktylna?</h2>
    <p>
      Program MNRI® Terapia Neurotaktylna organizuje sposób dostarczania informacji ze skóry do centralnego układu
      nerwowego, a konkretnie do mózgu.
      Skóra jest największym organem ludzkiego ciała. Działa jako bariera między naszym światem zewnętrznym i
      wewnętrznym, chroniąc nas przed intensywnymi bodźcami, m.in. – temperaturą, bólem, patologicznymi
      drobnoustrojami i wirusami. Jest także źródłem integracji dotykowo-sensorycznej.
    </p>
    <p>
      Nasz system dotykowy zawiera m.in. 11 różnych typów receptorów, które wnoszą do naszego ciała wiele różnych
      informacji. Nasze receptory wprowadzają informacje do ośrodkowego układu nerwowego poprzez ścieżki, które
      organizują odruchy i wyższe wzorce nerwów (świadomie kontrolowane), wykrywając, czy wejście jest bezpieczne.
      Kiedy układ dotykowy jest nadreaktywny lub nie reaguje na dane wejściowe, informacja dostarczana do centralnego
      układu nerwowego jest przetwarzana jako stres. W rezultacie reakcja mózgu na wejściu może być nieprawidłowa.
    </p>

    <h2>Założenia Terapii Neurotaktylnej</h2>
    <p>
      Głównymi założeniami terapii MNRI® NeuroTaktylnej są wzmocnienie jak również wytworzenie świadomości
      kinestetycznej ciała oraz stymulacja receptorów skóry, poprzez aktywizację zmysłu dotyku i propriocepcji
      ukierunkowanej na neurologiczne jej aspekty – receptory, dermatomy skóry, związki z kołami odruchowymi i ich
      funkcjami.
    </p>

    <h2>Cel Terapii Neurotaktylnej</h2>
    <p>
      Celem programu MNRI® Terapia Neurotaktylna jest normalizacja ogólnej wrażliwości.
      Pomaga to zmniejszyć lub wyeliminować dotykową defensywność lub niewystarczającą wrażliwość na dane sensoryczne.
      Uaktywnia mechanizmy odpowiedzialne za prawidłowe napięcie mięśni, organizuje dotykowy odbiór bodźców, ponieważ
      łączy się z naszym systemem sensorycznym.
      Pozwala to zoptymalizować pracę układu nerwowego, w tym pobudza i stymuluje łańcuchy biomechaniczne
      kostno-mięśniowo-powięziowe do aktywności motoryki małej, średniej i dużej, kształtuje świadomość kinestetyczną,
      poprawia samopoczucie dotykowe, aktywizuje odruch więzi, stymuluje wyższe czynności poznawcze i stworza okazję
      do pozytywnej komunikacji społecznej z innymi.
    </p>

    <h2>Techniki pracy</h2>
    <p>
      MNRI® Terapia NeuroTaktylna proponuje techniki stymulacji skóry, mięśni i stawów z uwzględnieniem wszystkich
      powierzchni ciała oraz łańcuchów biomechanicznych kostno-mięśniowo-powięziowych.
      Polega to na dostarczeniu kontrolowanej liczby bodźców sensorycznych oraz sensoryczno-proprioceptywnych w
      szczególności dotykowych i proprioceptywnych w celu tworzenia i torowania spontanicznych, fizjologicznych
      reakcji adaptacyjnych poprawiających funkcjonowanie układu neurosensomotorycznego i neurorozwoju.
    </p>
    <p>
      Aktywizacja ta wpływa na prawidłowy rozwój i integrację odruchów dynamicznych i posturalnych poprzez
      stymulowanie do prawidłowej pracy układu kostno-mięśniowo-powięziowego, układu hormonalnego i innych.
      Aktywność ta jest niezbędną stymulacją dla ośrodkowego i obwodowego układu nerwowego.
    </p>

    <h2>Ukierunkowanie</h2>
    <p>
      Praca stymulująco-terapeutyczna ukierunkowana jest na specyficzne właściwości rozwoju psychoruchowego
      charakterystyczne dla poszczególnych zaburzeń.
      Dzięki ogromnej sile uaktywniania naturalnych mechanizmów wspierających funkcjonowanie systemu ciało-mózg może
      być skutecznie wykorzystywana podczas pracy w przypadkach:
    </p>
    <ul>
      <li>Porażenia mózgowego</li>
      <li>Autyzmu</li>
      <li>Nadpobudliwości psychoruchowej</li>
      <li>Występowania lęków i fobii</li>
      <li>Zaburzeń regulacji emocjonalnej (agresja)</li>
      <li>Trudności w nauce</li>
      <li>Opóźnienia rozwoju psychomotorycznego</li>
      <li>Zaburzonego rozwoju mowy</li>
    </ul>

    <p class="text-secondary">Źródło informacji: <a
      href="https://masgu.com/terapia-neurotaktylna/">https://masgu.com/terapia-neurotaktylna/</a></p>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>


