<footer class="text-light text-center">
  <div class="text-box pt-3">
    <div class="">
      <img class="mb-3" src="assets/img/logo-zielone.png" alt="biały napis równowaga z logo">
      <div class="contact-box row row-cols-lg-3">
        <div><p class="d-flex justify-content-center align-items-center my-0">
            <i class="fas fa-map-marker-alt"></i>ul. Sezamkowa 0 <br> 00-000 Kraków</p></div>
        <p class="my-1"><i class="fas fa-phone"></i>+48 000 000 000</p>
        <p class="my-1"><i class="fas fa-envelope"></i>kontaktmail.pl</p>
      </div>
      <div class="social-media-box d-flex justify-content-center">
        <i class="fab fa-facebook-square mx-3"></i>
        <i class="fab fa-instagram mx-3"></i>
      </div>
      <app-color-button class="d-block pt-3">Umów wizytę</app-color-button>
      <div class="line my-3"></div>
      <p class="my-1">Dokumnety prawne</p>
      <p class="">Copyright 2024 © theleadersestate.com</p>
    </div>
  </div>
</footer>
