<footer class="text-light text-center">
  <div class="text-box pt-3">
    <div>
      <img class="mb-3" src="assets/img/logo-zielone.png" alt="biały napis równowaga z logo">
      <div class="contact-box row row-cols-lg-3">
        <div><p class="d-flex justify-content-center ">
         <img  src="assets/img/signpost.png" alt="brązowe bajkowy drogowskazy"><p>ul. Sezamkowa<br> 00-000 Kraków</p></div>
        <p><img  src="assets/img/phone-call.png" alt="niebieski bajkowy telefon">+48 000 000 000</p>
        <p> <img  src="assets/img/mail.png" alt="żółty bajkowy list">kontaktmail.pl</p>
      </div>
      <div class="social-media-box d-flex justify-content-center container">
        <img  class="me-4" src="assets/img/facebook-verified.png" alt="ikona facebooka">
        <img  src="assets/img/instagram-verified.png" alt="ikona instagrama">
      </div>
      <app-color-button class="d-block pt-3">Umów wizytę</app-color-button>
      <div class="line my-3"></div>
      <p class="my-1">Dokumnety prawne</p>
      <p class="">Copyright 2024 © theleadersestate.com</p>
    </div>
  </div>
</footer>
