<footer class="text-center">
  <div class="content-box pt-3">
    <div>
      <div class="contact-box row row-cols-lg-3">
        <div class="d-flex justify-content-center align-items-center">
          <a href="https://maps.app.goo.gl/FRJNZisRV4fubFZd8" target="_blank"
             class="d-flex align-items-center text-decoration-none text-dark">
            <img class="contact-icon" src="assets/img/location.png" alt="Ikona miejsca położenia z serduszkiem">
            <p class="ms-2 mt-3 footer-icon-text">
              Częstochowska 21&nbsp;62-800 Kalisz
            </p>
          </a>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img class="contact-icon" src="assets/img/phone.png" alt="Icona telefonu">
          <p class="ms-2 mt-3 footer-icon-text">
            +48 664 668 491
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img class="contact-icon" src="assets/img/email.png" alt="Icona listu">
          <p class="ms-2 mt-3 footer-icon-text">
            kontakt&#64;rownowagacentrum.pl
          </p>
        </div>
        <div></div>
        <div class="social-media-box d-flex flex-column justify-content-center mb-3">
          <div>
            <a href="https://www.facebook.com/CentrumRownowagaKalisz" target="_blank" class="me-2">
              <img class="mt-3" src="assets/img/facebook.png" alt="Ikona Facebooka">
            </a>
            <a href="https://www.instagram.com/rownowaga_centrum/" target="_blank" class="ms-2">
              <img class="mt-3" src="assets/img/instagram.png" alt="Ikona Instagrama">
            </a>
          </div>
          <app-color-button class="d-block pt-3" (click)="goToContact()">Umów wizytę</app-color-button>
        </div>
        <a class="navbar-brand" href="#">
          <img class="logo mt-2" src="./assets/img/logo_centrum_rowowaga_bez_tła.png" alt="logo">
        </a>
      </div>

      <div class="line my-3"></div>
      <div class="policy d-flex flex-sm-row flex-column justify-content-center">
        <p class="m-0" (click)="goToRodo()"> Rodo <span class="d-none d-sm-inline">|</span></p>
        <p class="ms-sm-1">Copyright 2024 © Aleksander Burczyk</p>
      </div>
    </div>
  </div>
</footer>
