footer {
  background-color: var(--dark-green-color);
}

.text-box {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.line {
  height: 1px;
  width: 95%;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 auto;
}

.contact-box img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

img {
  width: 250px;
  cursor: pointer;
}

.social-media-box {
  height: 40px;
  width: 40px;
}
