footer {
  background-color: var(--mint-color);
}

.content-box {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.line {
  height: 1px;
  width: 97%;
  background-color: var(--black-color);
  border-radius: 15px;
  margin: 0 auto;
}

.footer-icon-text{
  font-size: 18px;
}

@media (max-width: 576px) {

  .footer-icon-text{
    font-size: 16px;
  }

}

img {
  width: 55px;
}

.social-media-box img {
  width: 40px;
}

.logo {
  width: 170px;
  transition: transform 0.3s ease;
}

.policy p {
  cursor: pointer;
}

.logo:hover{
  transform: scale(1.1);
}
