<div class="top-img"></div>
<div class="white-container text-center">
  <h2 class="container-title ">Skontaktuj się z nami</h2>
  <div class="contact-box container">
  <div class="row">
    <div class="col-md">
      <div class="d-flex justify-content-center align-items-center my-4 col-md">
        <img class="me-3" src="assets/img/phone-call.png" alt="niebieski bajkowy telefon">
        <p class="m-0">+48 000 000 000</p>
      </div>
      <div class="d-flex justify-content-center align-items-center my-4">
        <img class="me-4" src="assets/img/mail.png" alt="żółty bajkowy list">
        <p class="m-0 p-0">kontaktmail.pl</p>
      </div>
      <div class="d-flex justify-content-center align-items-start my-4">
        <img class="me-4" src="assets/img/signpost.png" alt="brązowe bajkowy drogowskazy">
        <p>ul. Sezamkowa<br> 00-000 Kraków</p></div>
      <div class="social-media-box d-flex justify-content-center container">
        <img class="me-4" src="assets/img/facebook-verified.png" alt="ikona facebooka">
        <img src="assets/img/instagram-verified.png" alt="ikona instagrama">
      </div>
    </div>


    <form class="text-light col-md">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Imię">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nazwisko">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Telefon">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"> Wyrażam zgodę na przetwarzanie moich danych osobowych
          zgodnie z polityką prywatności.</label>
      </div>
      <div class="input-group mb-3">
        <textarea class="form-control" aria-label="With textarea" placeholder="Wiadomość"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>
    </form>
  </div>
  </div>



</div>

