<app-banner title="Kontakt"></app-banner>
<div class="white-container ">
  <h1 class="container-title text-center mx-xl-5 px-1 smaller-text-sm">Masz pytania, chcesz umówić
    się na wizytę? Skontaktuj się z nami!</h1>
  <div class="contact-box row row-cols-lg-4 row-cols-md-2">
    <div class="p-0 mt-5 maps-link">
      <a href="https://maps.app.goo.gl/FRJNZisRV4fubFZd8" target="_blank"
         class=" d-flex flex-column align-items-center text-decoration-none text-dark">
        <picture>
          <source srcset="assets/img/location.webp" type="image/webp">
          <img src="assets/img/location.png" alt="Ikona miejsca położenia z serduszkiem" class="mb-2 contact-icon">
        </picture>
        <p class=" footer-icon-text text-center">
          Częstochowska 21&nbsp;62-800 Kalisz
        </p>
      </a>
    </div>
    <div class="p-0 mt-5">
      <a href="tel:+48664668491" class=" phone-link footer-icon-text text-center flex-column d-flex justify-content-center align-items-center">
        <picture>
          <source srcset="assets/img/phone.webp" type="image/webp">
          <img src="assets/img/phone.jpg" alt="Ikona telefonu" class="mb-2 contact-icon">
        </picture>
        +48 664 668 491
      </a>
    </div>

    <div class=" p-0 mt-5">
      <a href="mailto:kontakt@rownowagacentrum.pl" class="email-link footer-icon-text text-center d-flex flex-column justify-content-center align-items-center">
        <picture>
          <source srcset="assets/img/email.webp" type="image/webp">
          <img src="assets/img/email.png" alt="Ikona listu" class="mb-2 contact-icon">
        </picture>
        kontakt&#64;rownowagacentrum.pl
      </a>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center p-0 mt-5">
      <picture>
        <source srcset="assets/img/open.webp" type="image/webp">
        <img src="assets/img/open.png" alt="Ikona tabliczki z napisem open" class="mb-2 no-pointer contact-icon">
      </picture>
      <p class="footer-icon-text text-center">
        Pon. – Pt.: 8:00 – 21:00
      </p>
      <p class="footer-icon-text text-center">
        Sobota: 9:00 – 20:00
      </p>
    </div>
    <div class="d-none d-lg-block"></div>
    <div class="d-flex flex-row justify-content-center social-media-box mt-5">
      <a href="https://www.facebook.com/CentrumRownowagaKalisz" target="_blank" class="me-1">
        <picture>
          <source srcset="assets/img/facebook.webp" type="image/webp">
          <img src="assets/img/facebook.png" alt="Ikona Facebooka" class="contact-icon">
        </picture>
      </a>
    </div>
    <div class="d-flex flex-row justify-content-center  social-media-box mt-5">
      <a href="https://www.instagram.com/rownowaga_centrum/" target="_blank" class="">
        <picture>
          <source srcset="assets/img/instagram.webp" type="image/webp">
          <img src="assets/img/instagram.png" alt="Ikona Instagrama" class="contact-icon">
        </picture>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="info-box col-md-5 d-flex justify-content-center align-items-start mt-2 p-1">
        <ul class="mt-4">
          <li><p>Wejście do budynku Centrum znajduje się za <strong>czarnym ogrodzeniem.</strong></p></li>
          <li><p> Gabinet położony jest na <strong>parterze</strong> pomiędzy klatką nr 1 i nr 2. <br> Kod do domofonu:
            1dzwonek47.
          </p></li>
          <li><p>W pobliżu lokalu dostępne są publiczne, <strong>bezpłatne parkingi.</strong></p></li>
        </ul>
      </div>
      <div class="col-md-7 cold-flex justify-content-center p-0">
        <form class="text-dark text-center" [formGroup]="contactForm" (ngSubmit)="submitForm()">

          <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
            <picture>
              <source srcset="assets/img/happy.webp" type="image/webp">
              <img class="me-2" src="assets/img/happy.png" alt="Wesoła minka">
            </picture>
            <h4 class="alert-heading">Dobra robota!</h4>
            <p>Wiadomosć poprawnie wysłana</p>
          </div>

          <div *ngIf="showFeilureAlert" class="alert alert-failed" role="alert">
            <picture>
              <source srcset="assets/img/sad.webp" type="image/webp">
              <img class="me-2" src="assets/img/sad.png" alt="Smutna minka">
            </picture>
            <h4 class="alert-heading">Bardzo nam przykro.</h4>
            <p>Niestety, wiadomości nie udało się wysłać.</p>
          </div>

          <div class="row">
            <div class="mb-3 col-lg-6">
              <input type="text" class="m-0 form-control" placeholder="Imię" formControlName="firstName"
                     [ngClass]="{ 'redBorder': submitted && controls.firstName.invalid }">
              <div *ngIf="submitted && controls.firstName.invalid" class="text-attention">
                {{ getErrorMessage(controls.firstName) }}
              </div>
            </div>
            <div class="mb-3 col-lg-6">
              <input type="text" class="form-control" placeholder="Nazwisko" formControlName="lastName"
                     [ngClass]="{ 'redBorder': submitted && controls.lastName.invalid }">
              <div *ngIf="submitted && controls.lastName.invalid" class="text-attention ">
                {{ getErrorMessage(controls.lastName) }}
              </div>
            </div>
            <div class="mb-3 col-lg-12">
              <input type="email" class="form-control" placeholder="E-mail" formControlName="email"
                     [ngClass]="{ 'redBorder': submitted && controls.email.invalid }">
              <div *ngIf="submitted && controls.email.invalid" class="text-attention">
                {{ getErrorMessage(controls.email) }}
              </div>
            </div>
          </div>
          <div class="input-group" [ngClass]="{ 'redBorder': submitted && controls.textMessage.invalid }">
            <textarea class="form-control" aria-label="With textarea" placeholder="Wiadomość"
                      formControlName="textMessage"></textarea>
          </div>
          <div *ngIf="submitted && controls.textMessage.invalid" class="text-attention">
            {{ getErrorMessage(controls.textMessage) }}
          </div>
          <div class="me-0 mt-3 form-check d-flex text-start">
            <input type="checkbox" class="me-3 form-check-input" id="exampleCheck1" formControlName="checkBox"
                   [ngClass]="{ 'redBorderColor': submitted && controls.checkBox.invalid }">
            <label class="form-check-label text-justify" for="exampleCheck1">Wyrażam zgodę na przetwarzanie moich
              danych osobowych zgodnie z polityką prywatności.</label>
          </div>
          <div *ngIf="submitted && controls.checkBox.invalid" class="text-attention ms-4 ps-2">
            {{ getErrorMessage(controls.checkBox)}}
          </div>
          <button type="submit" class="btn mt-3">
            <picture>
              <source srcset="assets/img/send.webp" type="image/webp">
              <img src="assets/img/send.png" alt="Ikona wysyłania" class="me-2">
            </picture>
            Wyślij
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-back-btn></app-back-btn>
<section class="contact-map">
  <div class="d-flex flex-column align-items-center">
    <iframe
      title="Lokalizacja Centrum Terapii i Wsparcia Rozwoju Równowaga w Kaliszu"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.8034117003513!2d18.090701912214804!3d51.7549182717
      53276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ac5820340d9ed%3A0x3eca73ebf7b5e3d1!2sPsycholog%2C%20t
      erepeuta%20Kalisz%20-%20R%C3%B3wnowaga%20-%20Centrum%20Terapii%20i%20Wsparcia%20Rozwoju!5e0!3m2!1spl!2spl!4v172354
      9162638!5m2!1spl!2spl"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
