<section class='top-hero'>
  <ng-container *ngIf="windowWidth < 575; else largeVideo">
    <video #videoElement class="aboutus-hero" [muted]="'muted'" aria-hidden="true" playsinline autoplay loop
           poster="assets/img/usmiechniete-dzieci.webp">
      <source
        src="assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz2.mp4"
        type="video/mp4">
      Twoja przeglądarka nie wspiera elementu video.
    </video>
  </ng-container>
  <ng-template #largeVideo>
    <video class="aboutus-hero" [muted]="'muted'" aria-hidden="true" playsinline autoplay loop
           poster="assets/img/usmiechniete-dzieci.webp">
      <source
        src="assets/video/terapia-integracji-sensorycznej-w-centrum-terpaii-i-wsparcia-rozwoju-kalisz2.mp4"
        type="video/mp4">
      Twoja przeglądarka nie wspiera elementu video.
    </video>
  </ng-template>

  <div class='text-container'>
    <h1 class='top-title'>Centrum Terapii i&nbsp;Wsparcia Rozwoju Równowaga w&nbsp;Kaliszu</h1>
    <h2 class='under-title'>Kompleksowe wsparcie psychologiczno-pedagogiczne dla dzieci, młodzieży i&nbsp;rodziców w&nbsp;przypadku
      trudności neurorozwojowych, emocjonalnych, motorycznych, a&nbsp;także przetwarzania słuchowego i&nbsp;procesów
      integracji sensorycznej.</h2>
    <app-transparent-btn routerLink="kontakt">umów wizytę
      <picture>
        <source srcset="assets/img/white-right-arrow.webp" type="image/webp">
        <img class="ms-2 mb-1 arrow d-sm-inline d-none" src="assets/img/white-right-arrow.png"
             alt="Ikona strzałki w prawo" width="30" height="30">
      </picture>
    </app-transparent-btn>
  </div>
</section>
