<app-banner title="Kariera"></app-banner>
<app-white-container>
  <section class="job-section p-2">
    <h1 class="text-center my-4">Praca dla <strong> terapeuty integracji sesorycznej</strong></h1>
    <div class="container">
      <h2>Twój zakres obowiązków</h2>
      <ul>
        <li>Przeprowadzanie terapii integracji sensorycznej</li>
        <li>Monitorowanie postępów dziecka i dostosowywanie planu terapii w razie potrzeby</li>
        <li>Udielanie rodzicom wskazówek dotyczących wspierania dziecka w domu i w codziennym życiu</li>
        <li>Przeprowadzanie rozmów z rodzicami na temat postępów terapii i potrzeb dziecka</li>
      </ul>

      <h2>Nasze wymagania</h2>
      <ul>
        <li>Wykształcenie wyższe</li>
        <li>Wykształcenie KIERUNKOWE - ukończony kurs lub studia uprawniające do prowadzenia terapii integracji
          sensorycznej
        </li>
        <li>Pasja i zaangażowanie w wykonywaną pracę</li>
        <li>Podejście do dzieci</li>
        <li>Umiejętność pracy z dziećmi z niepełnosprawnościami i spektrum autyzmu</li>
        <li>Doświadczenie (mile widziane)</li>
      </ul>

      <h2>Oferujemy</h2>
      <ul>
        <li>Atrakcyjna lokalizacja w centrum Kalisza</li>
        <li>Nowe, bardzo dobrze wyposażone sale</li>
        <li>Wsparcie merytoryczne</li>
        <li>Praca w przyjemnej atmosferze</li>
        <li>Atrakcyjne wynagrodzenie</li>
        <li>Umowa zlecenie lub B2B</li>
        <li>Elastyczny grafik</li>
      </ul>

      <h2>O nas</h2>
      <p>Centrum Terapii i Wsparcia Rozwoju "Równowaga" w Kaliszu to nowo powstała placówka oferująca kompleksowe usługi
        terapeutyczne dla dzieci i młodzieży. Specjalizuje się w diagnozie i terapii integracji sensorycznej, wspiera
        rozwój dzieci z różnorodnymi potrzebami. Centrum dysponuje nowoczesnymi, dobrze wyposażonymi salami
        terapeutycznymi, co umożliwia prowadzenie efektywnych zajęć w komfortowych warunkach. Zespół tworzą doświadczeni
        specjaliści z pasją i zaangażowaniem, którzy dbają o indywidualne podejście do każdego pacjenta. Placówka
        kładzie duży nacisk na współpracę z rodzicami, oferując wsparcie merytoryczne oraz elastyczne formy zatrudnienia
        dla swoich pracowników.</p>
    </div>
  </section>
  <h2 class="text-center pb-4">Wyślij CV bądź skontaktuj się z nami: <a href="mailto:kontakt@rownowagacentrum.pl"
                                                                   class=" mt-3 email-link">
    <span>kontakt&#64;rownowagacentrum.pl</span>
  </a></h2>

</app-white-container>

