<app-banner title="Rodo"></app-banner>
<app-white-container>
  <div class="p-3">
    <h1 class="text-center">Zgoda pacjenta na przetwarzanie danych osobowych (w tym danych o stanie zdrowia) jego i/lub jego niepełnoletnich
      dzieci</h1>
    <p>Imię i nazwisko:
      ....................................................................................................................</p>
    <p>Ja, niżej podpisany/a, zgodnie z art. 7 ust. 2 Rozporządzenia Parlamentu Europejskiego i Rady UE 2016/679 z 27
      kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
      swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (tzw. RODO), wyrażam wyraźną i dobrowolną
      zgodę na posługiwanie się i przetwarzanie:</p>
    <ul>
      <li>moich danych osobowych</li>
      <li>danych osobowych mojego niepełnoletniego dziecka/dzieci</li>
    </ul>
    <p>Imię i nazwisko dziecka/dzieci:
      .............................................................................................................</p>
    <p>przez Centrum Terapii i Wsparcia Rozwoju Równowaga Paulina Okrasa-Burczyk z siedzibą przy ul. Częstochowska 21/
      lokal 2, 62-800 Kalisz, w tym przez Paulinę Okrasę-Burczyk prowadzącą powyższą działalność gospodarczą i
      współpracujących terapeutów, w celu realizacji usług diagnostycznych i terapeutycznych, w tym do komunikacji
      korzystania z usług: otrzymywania informacji dotyczących planowanych wizyt i planów terapeutycznych drogą mailową
      i telefoniczną.</p>
    <p>Zakres przetwarzanych danych obejmuje wyłącznie dane osobowe, których przetwarzanie jest dozwolone na podstawie
      przepisów powszechnie obowiązujących.</p>
    <p>Jednocześnie oświadczam, że moja zgoda spełnia wszystkie warunki, o których mowa w art. 7 RODO, tj. przysługuje
      mi możliwość jej wycofania w każdym czasie, zapytanie o zgodę zostało mi przedstawione w wyraźnej i zrozumiałej
      formie oraz poinformowano mnie o warunku możliwości jej rozliczalności.</p>
    <p>Zostałem/am również poinformowany/a, że dane zbierane i przetwarzane są przez Centrum Terapii i Wsparcia Rozwoju
      Równowaga - w zakresie niezbędnym do umówienia wizyty, wystawienia rachunku, usług księgowości oraz przez Paulinę
      Okrasę Burczyk prowadzącą powyższą działalność gospodarczą - w zakresie niezbędnym do umówienia wizyty oraz
      realizacji usług terapeutycznych (dane osobowe w tym dane wrażliwe).</p>
    <p>Zostałem/am również poinformowany/a o celu ich zbierania, dobrowolności podania, prawie wglądu (z wyłączeniem
      dokumentacji) i możliwości ich poprawiania, okresie przechowywania, możliwości wycofania zgody, że dane nie będą
      udostępniane innym podmiotom (z wyłączeniem podmiotów uprawnionych do uzyskania danych osobowych na podstawie
      przepisów prawa), oraz o możliwości wniesienia skargi do GIODO, gdy uznam, że przetwarzanie danych osobowych moich
      i/lub mojego niepełnoletniego dziecka/moich niepełnoletnich dzieci narusza przepisy powszechnie obowiązujące.</p>
    <p class="d-flex justify-content-between">
      <span> Miejscowość i data: ..........................................</span><span>Czytelny podpis:................................................</span>
    </p>

  </div>
</app-white-container>
