<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Sylwia Szumska</h2>
      <p class="role-title px-4">Pedagogożka, terapeutka pedagogiczna, oligofrenopedagog, terapeutka dzieci z&nbsp;zaburzeniami
        ze&nbsp;spektrum autyzmu, terapeutka Integracji Sensorycznej, terapeutka ręki I i II stopnia</p>
    </div>
    <div class="col-md p-0 img-container">
      <img src="assets/img/awatar-damski.png" [alt]="'Awatar'" class="">
    </div>
    <div class="col-md assistance-box">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2">Zakres wsparcia</h2>
      <ul class="mx-2">
        <li>Terapia integracji sensorycznej (SI)</li>
        <li>Terapia pedagogiczna dla dzieci z trudnościami w nauce</li>
        <li>Wsparcie dzieci z zaburzeniami ze spektrum autyzmu</li>
        <li>Terapia ręki I i II stopnia</li>
        <li>Terapia dzieci z niepełnosprawnością intelektualną</li>
        <li>Socjoterapia – wsparcie w rozwijaniu umiejętności społecznych i emocjonalnych</li>
        <li>Zajęcia sensomotoryczne wspomagające koordynację ruchową i motorykę</li>
        <li>Wspomaganie rozwoju dzieci z trudnościami szkolnymi (dysleksja, dysgrafia, dyskalkulia)</li>
        <li>Konsultacje dla rodziców dotyczące rozwoju dziecka i metod wsparcia</li>
        <li>Terapia zaburzeń emocjonalnych i społecznych u dzieci</li>
      </ul>
    </div>
  </div>
  <app-next-back-btn (click)="nextTherapist()" class="next-btn">
    <img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w&nbsp;prawo'" class="arrow-btn">
  </app-next-back-btn>
  <app-next-back-btn (click)="prevTherapist()" class="back-btn">
    <img [src]="'assets/img/left-arrow.png'" [alt]="'ikona strzałki w&nbsp;prawo'" class="arrow-btn">
  </app-next-back-btn>
</div>

<div class="about-me-section">
  <div class="px-3">
    <h2 class="title underline-title">O&nbsp;mnie</h2>
    <p class="about-text">
      Praca z&nbsp;dziećmi jest moim powołaniem i&nbsp;świadomym wyborem. Jestem pasjonatem pracy z&nbsp;dziećmi, która
      daje mi&nbsp;wiele radości, bo&nbsp;mogę dzielić się wszystkim, co&nbsp;pomaga w&nbsp;ich funkcjonowaniu i&nbsp;co&nbsp;najważniejsze,
      przynosi uśmiech. Uśmiechnięte dziecko, uśmiechnięty terapeuta to&nbsp;uśmiechnięty i&nbsp;lepszy świat. W&nbsp;swoich
      działaniach kieruję się mottem zaczerpniętym od&nbsp;B.Cage, że „Nauczyciel widzi więcej niż tylko twarze dzieci –
      stara się zobaczyć ich dusze”.
    </p>

    <h4 class="subtitle">Nieustanny rozwój zawodowy – zdobywanie nowych doświadczeń</h4>
    <p class="about-text">
      Pracując z&nbsp;dziećmi z&nbsp;zaburzeniami ze&nbsp;spektrum autyzmu, nieustannie dbam o&nbsp;swój rozwój,
      uczestnicząc w&nbsp;różnego rodzaju szkoleniach, seminariach, kursach, webinariach, projektach i&nbsp;wolontariatach.
    </p>
    <div class="about-text">
      Dodatkowo, wykorzystując swoją pasję do&nbsp;pracy z&nbsp;dziećmi, pracowałam jako:
    <ul>
      <li>Wolontariusz w&nbsp;ramach projektu hipoterapii „Ćwicz dla siebie. Nie przestawaj. Trenuj” realizowanego przez
        Pleszewskie Stowarzyszenie na&nbsp;Rzecz Osób Niepełnosprawnych „Razem w&nbsp;Przyszłość”
      </li>
      <li>Opiekun zajęć organizowanych przez Miasto Kalisz w&nbsp;ramach „Ferii Zimowych w&nbsp;Mieście dla dzieci kl.
        I-IV” w&nbsp;Szkole Podstawowej nr&nbsp;1
      </li>
      <li>Instruktor półkolonii letnich w&nbsp;Klubie Osiedlowym „Blaszak” Kaliskiej Spółdzielni Mieszkaniowej w&nbsp;Kaliszu</li>
      <li>Instruktor półkolonii letnich w&nbsp;Klubie Osiedlowym XXV-lecia Kaliskiej Spółdzielni Mieszkaniowej w&nbsp;Kaliszu</li>
    </ul>
    </div>

    <h4 class="subtitle">Doświadczenie zawodowe</h4>
    <p class="about-text">
      Doświadczenie w&nbsp;pracy z&nbsp;dziećmi z&nbsp;niepełnosprawnością intelektualną zdobyłam, praktykując w&nbsp;Zespole
      Placówek Specjalnych w&nbsp;Pleszewie, a&nbsp;następnie rozpoczęłam pracę zawodową i&nbsp;terapeutyczną w&nbsp;szkołach
      ogólnodostępnych jako nauczyciel współorganizujący kształcenie dzieci ze&nbsp;spektrum autyzmu, terapię
      pedagogiczną oraz&nbsp;zajęcia integracji sensorycznej. Obecnie, poza&nbsp;pracą terapeuty integracji sensorycznej
      w&nbsp;Centrum Równowaga, pracuję w&nbsp;Szkole Podstawowej nr&nbsp;18 z&nbsp;oddziałami dla Dzieci z&nbsp;Autyzmem,
      gdzie&nbsp;pracuję jako nauczyciel wychowawca klasy 3 dzieci z&nbsp;zaburzeniami ze&nbsp;spektrum autyzmu.
    </p>

    <h4 class="subtitle">Prywatnie</h4>
    <p class="about-text">
      W&nbsp;życiu prywatnym czas wolny spędzam z&nbsp;rodziną, naszym domowym pupilem królikiem Hepikiem, przyjaciółmi
      i&nbsp;muzyką. Kocham taniec – tańczę bachatę i&nbsp;salsę. Bardzo lubię prace handmade, dekorację wnętrz,
      podróże, długie spacery, prace w&nbsp;ogrodzie wśród kwiatów oraz&nbsp;sport, jak&nbsp;wycieczki rowerowe i&nbsp;narty
      biegówki.
    </p>
  </div>

  <div class="qualifications-section">
    <h2 class="underline-title">Kwalifikacje</h2>
    <h3 class="pt-2">Wykształcenie</h3>
    <ul>
      <li>Niepubliczny Ośrodek Doskonalenia Nauczycieli COGNITUS.PL – Terapia ręki i&nbsp;stopy I oraz&nbsp;II stopnia
      </li>
      <li>Uczelnia Nauk Społecznych w&nbsp;Łodzi – Studia Podyplomowe, Integracja Sensoryczna - diagnoza
        i&nbsp;terapia
      </li>
      <li>Wyższa Szkoła Bankowa w&nbsp;Poznaniu – Studia Podyplomowe, Edukacja i&nbsp;terapia osób z&nbsp;zaburzeniami
        ze&nbsp;spektrum autyzmu
      </li>
      <li>Collegium Da Vinci Poznań – Studia Podyplomowe, Oligofrenopedagogika z&nbsp;elementami integracji
        sensorycznej
      </li>
      <li>Gnieźnieńska Wyższa Szkoła Humanistyczno-Menedżerska „MILENIUM” – Studia Podyplomowe, Wychowanie
        wczesnoszkolne i&nbsp;przedszkolne
      </li>
      <li>Politechnika Poznańska – Studia Uzupełniające Magisterskie, Inżynieria Komunikacji Interpersonalnej i&nbsp;Public
        Relations
      </li>
    </ul>

    <h4>Szkolenia i&nbsp;Kursy</h4>
    <ul>
      <li>Webinar „Jak polepszyć sen u&nbsp;osób ze&nbsp;spektrum autyzmu”, Terapia Zajęciowa Profesjonalnie</li>
      <li>Webinar „Sprawozdanie pedagoga specjalnego”, Specjalni.pl Niepubliczny Ośrodek Doskonalenia Nauczycieli</li>
      <li>Szkolenie PBP Książnica Pedagogiczna w&nbsp;Kaliszu „TIK-owy nauczyciel – Genial.ly - część II”</li>
      <li>Seminarium ODN Kalisz: „Pomoc psychologiczno-pedagogiczna udzielana uczniom przez specjalistów szkolnych”</li>
      <li>Szkolenie „ABC pracy nauczyciela współorganizującego proces kształcenia uczniów ze&nbsp;specjalnymi potrzebami
        edukacyjnymi”
      </li>
    </ul>

    <h4>Certyfikaty</h4>
    <ul>
      <li>Integracja Sensoryczna – diagnoza i terapia, Uczelnia Nauk Społecznych w Łodzi</li>
      <li>Terapia ręki i stopy I oraz II stopnia, Cognitus Niepubliczny Ośrodek Doskonalenia Nauczycieli</li>
      <li>Certyfikat OSEhero, Ogólnopolski Projekt Edukacyjny OSEhero w&nbsp;roku szkolnym 2023/2024</li>
    </ul>
  </div>
</div>
<app-back-btn></app-back-btn>




