<app-white-container>
  <div class="content p-3">
    <img src="assets/img/mózg_ze_zmysłami.png"
         alt="Ikona dziecka z odrychem ATOS"
         class="inpp-img float-end img-fluid w-25">
    <h2>Terapia Ingracji Sensorycznej</h2>
    <p>
      Prawidłowa integracja sensoryczna jest bazą umiejętności szkolnych.
      Jako metoda została stworzona przez dr J. Ayres dla dzieci ze szkolnymi trudnościami i problemami w nauce.
      Przetwarzanie sensoryczne to sposób, w jaki mózg odbiera, łączy i przetwarza sygnały, które płyną ze wszystkich
      zmysłów. Jeśli ta komunikacja jest w jakiś sposób zaburzona, mogą pojawić się trudności w obrębie jednego lub
      kilku zmysłów.
    </p>
    <h3>Symptomy trudności w przetwarzaniu sensorycznym:</h3>
    <p>Jeśli dziecko:</p>
    <ul>
      <li>ma chorobę lokomocyjną</li>
      <li>jest ciągle w ruchu, cały czas biega, skacze, trudno mu się zatrzymać</li>
      <li>unika ruchu, placów zabaw, jest bardzo statyczne</li>
      <li>boi się huśtawek, karuzeli, odrywania stóp od podłoża</li>
      <li>może się huśtać i kręcić przez długi czas</li>
      <li>ma trudności z nauką jazdy na rowerze, hulajnodze</li>
      <li>lubi się wciskać w różne zakamarki, domaga się mocnych przytuleń, docisków</li>
      <li>wydaje się być niezgrabne ruchowo, nieskoordynowane</li>
      <li>często się potyka, nawet na prostej drodze</li>
      <li>wpada na różne przedmioty, inne osoby</li>
      <li>gdy gdzieś idzie, musi wszystkiego dotykać</li>
      <li>zdarza mu się popychać, szczypać inne dzieci</li>
      <li>ma trudności z różnicowaniem lewej i prawej strony</li>
      <li>nie lubi dotykać różnych faktur, jedzenia</li>
      <li>nie toleruje różnych pokarmów o danych strukturach i konsystencjach</li>
      <li>jedzenie na talerzu nie może się dotykać</li>
      <li>nim coś zje, musi to powąchać</li>
      <li>jest wrażliwe na zapachy</li>
      <li>wącha wszystko przed jedzeniem, w tym rzeczy niejadalne</li>
      <li>zjada rzeczy niejadalne, np. klej</li>
      <li>gdy się ubrudzi, musi od razu się umyć</li>
      <li>gdy ma brudne ręce, buzię w ogóle tego nie zauważa</li>
      <li>jest nadmiernie wrażliwe na ból, lub rzadko zauważa, że o coś się uderzyło</li>
      <li>trzyma zbyt mocno lub zbyt słabo kredkę</li>
      <li>podczas siedzenia często się wierci, kręci, podpiera, zmienia pozycję, spada z krzesła</li>
      <li>nagminnie siada w literę W</li>
      <li>zasłania uszy, nawet gdy dźwięki nie wydają się być zbyt głośne</li>
      <li>nie lubi hałasów, choć samo je często generuje</li>
      <li>nie toleruje mycia głowy, obcinania włosów, paznokci, metek, rajstop, skarpetek</li>
      <li>ma trudności z samodzielnym ubieraniem, zapinaniem zamka, guzików</li>
      <li>łatwo się rozprasza</li>
      <li>nie toleruje nagłego dotyku, nie przepada za przytulaniem, całowaniem</li>
      <li>lubi zabawy z obijaniem się o innych, rzucaniem na łóżko, skakaniem z mebli</li>
      <li>ma trudności z łapaniem i rzucaniem piłki</li>
      <li>często powtarza, że bielizna je ciśnie, boli, przeszkadza</li>
      <li>jest impulsywne, pobudzone</li>
      <li>ma niską samoocenę</li>
      <li>nie lubi zabaw i gier zespołowych</li>
      <li>często zakłada, że czegoś nie potrafi, nim samo spróbuje coś wykonać</li>
      <li>wydaje się być wiotkie</li>
      <li>nie lubi hałaśliwych miejsc, gdzie jest dużo ludzi</li>
      <li>urodziło się przez cesarskie cięcie</li>
      <li>jest nadmiernie pobudzone, gdy dookoła jest dużo bodźców</li>
      <li>mruży oczy, nie lubi mocnego światła</li>
      <li>ma trudności z przepisywaniem, przerysowywaniem</li>
      <li>odwraca litery</li>
      <li>ma trudności z utrzymaniem i śledzeniem wzrokiem danego przedmiotu</li>
    </ul>

    <p>
      <strong>Jeśli niektóre z wymienionych punktów dotyczą Twojego dziecka, warto skonsultować się ze specjalistą lub
        umówić na diagnozę procesów integracji sensorycznej.</strong>
    </p>
  </div>
</app-white-container>

