button {
  padding: 16px 16px ;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f1b8a8;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: background-color 0.3s;

}

button:hover {
  color: #ffffff;
  background-color: rgb(165, 205, 191);
}
