button {
  padding: 16px 16px ;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff9900;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
}

button:hover {
  color: #ffffff;
  background-color: rgb(255, 191, 38);
}
