<section class="bg-box text-dark">
  <div class="container">
    <div class="content-box d-flex flex-column">
      <h2 class='container-title text-center'>Nasi terapeuci</h2>
      <p class="sm-text ">Każdy terapeuta w Centrum Terapii Horyzont jest magistrem psychologii oraz jest w trakcie
        lub ukończył całościowe 4-letnie akredytowane szkolenie psychoterapeutyczne. Posiadamy wieloletnie
        doświadczenie
        w prowadzeniu terapii i udzielaniu wsparcia psychologicznego. Korzystamy z regularnych superwizji u
        certyfikowanych superwizorów oraz pracujemy w oparciu o kodeks etyczny zawodu psychoterapeuty. Przykładamy
        szczególną wagę do uaktualniania swojej wiedzy.</p>
    </div>
    <div class="active-users p-5">
      <div class="card-group">
        <div class="card m-3 bg-transparent border-0">
          <div class="card-img">
            <img src="assets/img/terapeuta1.webp" alt="lorem ipsum" class="card-img-top">
          </div>
          <div class="card-body d-flex justify-content-center">
            <p>Żulietta Szczurołap</p>
          </div>
        </div>
        <div class="card m-3 bg-transparent border-0">
          <div class="card-img">
            <img src="assets/img/terapeuta2.jpg" alt="lorem ipsum" class="card-img-top">
          </div>
          <div class="card-body d-flex justify-content-center">
            <p>Boguniemiła Knurowiec</p>
          </div>
        </div>
        <div class="card m-3 bg-transparent border-0">
          <div class="card-img">
            <img src="assets/img/Paulina.jpg" alt="lorem ipsum"
                 class="card-img-top">
          </div>
          <div class="card-body d-flex justify-content-center">
            <p>Wilsonica Wilkinson</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
