<nav class="navbar navbar-expand-xxl py-0 sticky-top">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand me-5" routerLink="">
      <img src="./assets/img/logo_centrum_rowowaga_bez_tła.png" alt="logo">
    </a>

    <div class="d-flex align-items-center">
      <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <app-color-button class="color-btn d-xxl-none" routerLink="appointment" (click)="collapseNav()">
        <img src="./assets/img/calendar.png" alt="ikona kalendarza">
        Umów wizytę
      </app-color-button>
    </div>

    <div class="collapse navbar-collapse no-wrap" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="text-nav-color nav-link " routerLink="" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}" (click)="collapseNav()">Start</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link text-nav-color " href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Zakres Pomocy <img class="arrow" src="./assets/img/arrow-down-sign-to-navigate.png" alt="strzałka dropdownu w dół">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="assistance/psychologicalConsultations">Konsultacje psychologiczne</a></li>
            <li><a class="dropdown-item" routerLink="assistance/sensoryIntegrationTherapy">Diagnoza i terapia integracji sensorycznej</a></li>
            <li><a class="dropdown-item" routerLink="assistance/neurodevelopmentalReflexTherapy">Diagnoza i terapia neurorozwojowa odruchów INPP</a></li>
            <li><a class="dropdown-item" routerLink="assistance/neuroTactileTherapy">Terapia NeuroTaktylna MNRI</a></li>
            <li><a class="dropdown-item" routerLink="assistance/auditoryProcessingTherapy">Diagnoza i terapia przetwarzania słuchowego Johansena</a></li>
            <li><a class="dropdown-item" routerLink="assistance/handTherapy">Diagnoza i terapia ręki</a></li>
            <li><a class="dropdown-item" routerLink="assistance/specialistConsultations">Konsultacje specjalistyczne</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="text-nav-color nav-link " routerLink="blog" routerLinkActive="active" (click)="collapseNav()">Zespoł</a>
        </li>
        <li class="nav-item">
          <a class="text-nav-color nav-link " routerLink="priceList" routerLinkActive="active" (click)="collapseNav()">Cennik</a>
        </li>
        <li class="nav-item">
          <a class="text-nav-color nav-link " routerLink="ourCenter" routerLinkActive="active" (click)="collapseNav()">Nasze Centrum</a>
        </li>
        <li class="nav-item">
          <a class="text-nav-color nav-link " routerLink="blog" routerLinkActive="active" (click)="collapseNav()">Blog</a>
        </li>
        <li class="nav-item me-3">
          <a class="text-nav-color nav-link " routerLink="contact" routerLinkActive="active" (click)="collapseNav()">Kontakt</a>
        </li>
      </ul>
    </div>

    <app-color-button class="color-btn d-none d-xxl-block no-wrap" routerLink="appointment" (click)="collapseNav()">
      <img src="./assets/img/calendar.png" alt="ikona kalendarza">
      Umów wizytę
    </app-color-button>
  </div>
</nav>
