<app-white-container>
  <div class="p-3 text-center text-sm-start">
    <h1>Konsultacje specjalistyczne</h1>
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/assistance/konsultacje-specjalistyczne.webp"
      />
      <img
        src="assets/img/assistance/konsultacje-specjalistyczne.png"
        alt="obrazek dziecka na huśtawce, terapia integracji sensorycznej"
        class="si-img float-none float-sm-end mb-2 me-2 w-25 p-sm-2"
      />
    </picture>
    <p>
      Konsultacje ze specjalistą są skierowane do rodziców, którzy zauważają
      trudności u swojego dziecka w zakresie przetwarzania bodźców
      sensorycznych, wzorców ruchowych oraz procesów neurorozwojowych.
    </p>
    <p>
      Podczas spotkania specjalista oceni funkcje sensoryczne i motoryczne
      dziecka oraz pomoże w ustaleniu, jakie trudności mogą wpływać na problemy
      szkolne, ruchowe lub zachowanie.
    </p>
    <p>
      Konsultacja ma na celu nie tylko diagnozę, ale także dobranie odpowiedniej
      formy terapii, która najlepiej odpowiada na indywidualne potrzeby dziecka.
      Specjalista może również udzielić wsparcia i wskazówek, jak wprowadzać
      codzienne ćwiczenia wspomagające rozwój motoryczno-sensoryczny w domu.
    </p>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>
