<div class="banner-container">
  <div class="banner-content d-flex flex-column align-items-center">
    <h1>{{ title }}</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Start</a></li>
        <li class="breadcrumb-item" ><a [routerLink]="['/', appPaths.BLOG]">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <p class="pt-2 text-muted">{{addedDate}}</p>
  </div>
</div>
