button {
  height: 60px;
  width: 60px;
  background-color: var(--light-pink-color);
  border-radius: 15%;
  border: none;
  transition: background-color, transform 0.3s;
}

img {
  height: 30px;
  width: 30px;
}

button:hover {
  background-color: var(--pink-color);
  transform: scale(1.05);
}



