<app-white-container>
  <div class="p-3">
    <h1 class="text-center">Formularz świadomej zgody rodzica/opiekuna prawnego na udział osoby niepełnoletniej w diagnozie/terapii w
      Centrum Terapii i Wsparcia Rozwoju Równowaga</h1>
    <p><strong>Imię i nazwisko rodzica/opiekuna ustawowego:</strong>
      ....................................................................................</p>
    <p><strong>Imię i nazwisko pacjenta niepełnoletniego:</strong>
      ....................................................................................</p>
    <p class="text-justify ">Wyrażam świadomą i dobrowolną zgodę na udział mojego dziecka w formach diagnozy i/lub terapii prowadzonych w
      Centrum Terapii i Wsparcia Rozwoju Równowaga, w diagnozie i terapii: integracji sensorycznej, INPP, przetwarzania
      słuchowego Johansena IAS, terapii ręki, terapii NeuroTaktylnej MNRI, terapii wzroku, konsultacjach
      psychologicznych, specjalistycznych i innych oferowanych przez Centrum.</p>
    <p class="text-justify ">>Jednocześnie oświadczam, że drugi rodzic/opiekun ustawowy został poinformowany o powyższych formach terapii i/lub
      diagnozy, w których udział bierze niepełnoletni pacjent i wyraził na nie zgodę.</p>
    <p class="text-justify ">Oświadczam również, że moje dziecko nie ma żadnych przeciwskazań do uczestniczenia w powyższych terapiach.</p>
    <p>Data i czytelny podpis rodzica/opiekuna ustawowego składającego oświadczenie:
      ....................................................................................</p>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>
