<app-white-container>
  <div class="p-3">
    <h1 class="text-center mb-4">Formularz zgody obu rodziców/opiekunów prawnych na publikację zdjęć/filmików z wizerunkiem
      mojego
      dziecka na mediach społecznościowych Centrum Terapii i Wsparcia Rozwoju Równowaga</h1>
    <p> Zgoda na publikację zdjęć/filmików mojego dziecka na mediach społecznościowych Centrum
    Terapii i Wsparcia Rozwoju Równowaga bez podawania nazwiska, wyłącznie w celach edukacyjnych, informacyjnych i
    promocyjnych Centrum Równowaga. Zgodę na publikację można wycofać w każdej chwili.</p>
    <p>Niepotrzebne skreślić:</p>
    <p><b>Wyrażam zgodę / Nie wyrażam zgody</b></p>
    <div class="d-flex justify-content-end align-items-end">
      <span class="d-block">...........................................................<br>Podpis rodzica/opiekuna</span>
    </div>
  </div>
</app-white-container>
