<app-white-container>
  <div class="p-3 text-center text-sm-start">
    <h1>Konsultacje psychologiczne</h1>
    <img src="assets/img/assistance/konsultacje-psychologiczne.png"
         alt="dziecko siedzące na fotelu rozmawiające z psychologiem"
         class="inpp-img float-sm-end img-fluid w-50 px-4">
    <p>
    <p class="text-justify"><span class="text-nowrap">Konsultacje psychologiczne</span>to kluczowe wsparcie dla dzieci i ich rodziców, które pomaga zrozumieć oraz zaradzić
      trudnościom emocjonalnym, behawioralnym i psychicznym dziecka. Spotkania z psychologiem umożliwiają ocenę
      problemów związanych z regulacją emocji, stresem, niską samooceną oraz trudnościami psychosomatycznymi a także
      może pokierować osobę do innych specjalistów jeśli istnieje taka potrzeba.</p>

    <h2>Na czym polegają konsultacje psychologiczne?</h2>
    <p class="text-justify">Podczas konsultacji psycholog ocenia funkcjonowanie emocjonalne i poznawcze dziecka, biorąc pod uwagę jego
      indywidualne cechy, takie jak temperament, oraz wpływ otoczenia, w tym relacje z rodzicami i rówieśnikami.
      Konsultacja ma na celu diagnozowanie przyczyn trudności emocjonalnych, poznawczych lub psychosomatycznych oraz
      dobranie odpowiedniej formy terapii, która wspiera rozwój dziecka i pomaga mu radzić sobie z codziennymi
      wyzwaniami.</p>

    <h2>Kiedy warto rozważyć konsultację psychologiczną?</h2>
    <p class="text-justify">Konsultację psychologiczną warto rozważyć m.in., jeśli Twoje dziecko:</p>
    <ul class="text-justify">
      <li>Ma trudności w regulacji emocji, takich jak lęk, złość czy smutek.</li>
      <li>Zmaga się z nadmiernym stresem lub napięciem, które wpływają na jego codzienne funkcjonowanie.</li>
      <li>Ma niską samoocenę, problemy z koncentracją lub trudności w nawiązywaniu relacji rówieśniczych.</li>
      <li>Doświadcza dolegliwości psychosomatycznych, takich jak bóle brzucha lub głowy bez przyczyn medycznych.</li>
      <li>Mierzy się z trudnościami w adaptacji do zmian, takich jak rozpoczęcie nowej szkoły, rozwód rodziców czy
        narodziny rodzeństwa.
      </li>
      <li>Przeżywa trudności w relacjach z rówieśnikami, takie jak wykluczenie społeczne lub konflikty.</li>
      <li>Wykazuje oznaki nadmiernej nieśmiałości, wycofania lub agresji w różnych sytuacjach społecznych.</li>
      <li>Ma trudności z nauką lub koncentracją, które mogą wpływać na osiągnięcia szkolne.</li>
    </ul>

    <h2>Jakie korzyści przynoszą konsultacje psychologiczne?</h2>
    <p class="text-justify">Konsultacje pomagają dziecku i rodzicom zrozumieć emocjonalne wyzwania, poprawiają relacje w rodzinie oraz
      dostarczają narzędzi do radzenia sobie z trudnymi sytuacjami. Psycholog pracuje zarówno z dzieckiem, jak i z jego
      opiekunami, dostosowując metody pracy do indywidualnych potrzeb i etapu rozwoju dziecka. Może to obejmować
      wsparcie emocjonalne, terapię behawioralną lub psychoedukację.</p>

    <h2>Zakres pracy psychologa dziecięcego</h2>
    <p class="text-justify">Psycholog dziecięcy specjalizuje się w pracy z dziećmi w różnym wieku – od przedszkolaków po nastolatków. Praca
      psychologa obejmuje m.in. diagnozę emocjonalną i poznawczą, wsparcie w radzeniu sobie z trudnościami w relacjach
      rówieśniczych, poprawę samooceny oraz pomoc w rozwiązywaniu problemów psychosomatycznych. Psycholog pomaga również
      rodzicom lepiej zrozumieć potrzeby swojego dziecka i wspiera ich w rozwoju umiejętności wychowawczych.</p>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>

