<app-white-container>
  <h1>Konsultacje specjalistyczne</h1>
  <p>Konsultacje ze specjalistą są skierowane do rodziców, którzy zauważają trudności u swojego
  dziecka w zakresie przetwarzania bodźców sensorycznych, wzorców ruchowych oraz procesów neurorozwojowych. Podczas
  spotkania specjalista oceni funkcje sensoryczne i motoryczne dziecka oraz pomoże w ustaleniu, jakie trudności mogą
  wpływać na problemy szkolne, ruchowe lub zachowanie. Konsultacja ma na celu nie tylko diagnozę, ale także dobranie
  odpowiedniej formy terapii, która najlepiej odpowiada na indywidualne potrzeby dziecka. Specjalista może również
  udzielić wsparcia i wskazówek, jak wprowadzać codzienne ćwiczenia wspomagające rozwój motoryczno-sensoryczny w
  domu.</p></app-white-container>

