<app-white-container>
  <div class="content p-3">
    <h1>Przewrotnie odpowiemy najpierw na pytanie - czym <em>NIE</em> jest terapia ręki?</h1>
    <img src="assets/img/terapia_ręki.png"
         alt="Ręka dorosłego przekazująca serce dłonią dziecięcym"
         class="hand-therapy-img d-flex justify-content-center align-items-center float-sm-end img-fluid w-50 mb-3">
    <p>Otóż nie jest malowaniem szlaczków i linijek.</p>

    <p>U podstaw rozwoju małej motoryki znajduje się <strong>integracja sensoryczna</strong> oraz <strong>motoryka
      duża</strong>. Człowiek rozwija się proksymodystalnie, czyli od centrum do zewnątrz. Oznacza to, że w pierwszej
      kolejności muszą prawidłowo funkcjonować centralne części naszego ciała, by te bardziej dystalne (zewnętrzne), w
      tym właśnie ręce, mogły być motorycznie sprawne. Jeśli mięśnie posturalne, centrum ciała, obręcz barkowa będą
      słabe, to niestety nawet wielogodzinne rysowanie szlaczków nie pomoże.</p>

    <h2>Czym w takim razie jest terapia ręki?</h2>
    <p>Jest to metoda wspierająca rozwój <strong>małej motoryki</strong>, czyli sprawności i ruchomości dłoni i palców,
      której podstawą jest ruch. Podczas zajęć wykonywany jest szereg różnych ćwiczeń i zadań, które jednak wbrew
      pozorom wcale nie koncentrują się tylko na izolowanych ćwiczeniach palców i nadgarstka, ale w pierwszej kolejności
      uruchamiają całe ciało.</p>

    <p>Zgodnie z programem PTR Anety Giczewskiej i Wioletty Bartkiewicz – specjalistek w dziedzinie terapii ręki –
      schemat zajęć powinien przebiegać następująco:</p>

    <ol>
      <li>Powitanie</li>
      <li>Stymulacja proprioceptywna</li>
      <li>Seria ćwiczeń rozmachowych</li>
      <li>Seria ćwiczeń manualnych</li>
      <li>Seria ćwiczeń precyzyjnych</li>
      <li>Relaks</li>
      <li>Pożegnanie</li>
    </ol>

    <p>W Centrum Terapii i Wsparcia Rozwoju Równowaga pracujemy zgodnie z powyższym programem PTR.</p>

    <h3>Wskazania do terapii ręki</h3>
    <ul>
      <li>Trudności w planowaniu ruchowym</li>
      <li>Problemy z koordynacją i współpracą obu rąk</li>
      <li>Problemy z nauką samoobsługi, jak ubieranie się, zapinanie guzików</li>
      <li>Nieadekwatne dostosowanie siły i szybkości ruchów do wykonywanej czynności</li>
      <li>Zaburzenia sprawności grafomotorycznej – dziecko nie lubi lub nie umie wycinać, rysować, malować, ma
        niedokładne i niestaranne pismo, każda nowa forma zajęć z wykorzystaniem umiejętności rąk nie sprawia dziecku
        przyjemności
      </li>
      <li>Trudności w trzymaniu kredek czy ołówka, przedmioty wypadają z dłoni lub przebijają kartkę pod ich naciskiem
      </li>
      <li>Trudności z koncentracją</li>
      <li>Nieprawidłowa postawa ciała</li>
      <li>Niechęć do dotykania różnych faktur</li>
      <li>Zaburzenia koordynacji oko–ręka</li>
      <li>Zbyt wolne lub zbyt szybkie tempo wykonywania różnych czynności manualnych, co prowadzi do niestaranności</li>
      <li>Zaburzenia napięcia posturalnego w obrębie obręczy barkowej lub całego ciała</li>
    </ul>
  </div>
</app-white-container>
