<!-- therapy-pedagogiczna.component.html -->
<app-white-container>
        <div class="content p-3 text-center text-sm-start">
          <h1 class="mb-3">Czym jest terapia pedagogiczna?</h1>
          <img src="assets/img/terapia_pedagogiczna.png"
               alt="dziewczynka z literkami nad główą, ze smutną miną"
               class="pedagogical-img float-none float-md-end img-fluid w-25 mx-2 my-2 pe-5 pe-sm-0">
          <p class="text-justify">Terapia pedagogiczna jest formą specjalistycznego wsparcia edukacyjnego, skierowaną do dzieci i młodzieży, które napotykają trudności w nauce. Ma na celu wyrównywanie deficytów rozwojowych, wspieranie dzieci w przezwyciężaniu problemów w nauce oraz kształtowanie strategii radzenia sobie z wyzwaniami edukacyjnymi.</p>

          <h2 class="mt-4 mb-2">Dla kogo jest terapia pedagogiczna?</h2>
          <p class="text-justify">Terapia pedagogiczna jest dedykowana dzieciom, które:</p>
          <ul class="text-justify">
            <li>Doświadczają trudności w czytaniu, pisaniu lub matematyce, takich jak dysleksja, dysgrafia, dysortografia czy dyskalkulia,</li>
            <li>Mają trudności w koncentracji, pamięci i organizacji pracy,</li>
            <li>Zmagają się z niską motywacją do nauki,</li>
            <li>Potrzebują wsparcia w rozwijaniu umiejętności społecznych i emocjonalnych,</li>
            <li>Wykazują trudności z przystosowaniem do środowiska szkolnego.</li>
          </ul>

          <h2 class="mt-4 mb-2">Jakie cele ma terapia pedagogiczna?</h2>

          <h3 class="mt-3">Diagnoza pedagogiczna</h3>
          <p class="text-justify">Na początku terapii pedagog przeprowadza szczegółową diagnozę, aby określić trudności dziecka w zakresie nauki, koncentracji, organizacji pracy i motywacji. Na podstawie diagnozy opracowywany jest indywidualny plan terapii, który uwzględnia potrzeby dziecka i dostosowuje metody pracy do jego możliwości.</p>

          <h3 class="mt-3">Indywidualny plan terapeutyczny</h3>
          <p class="text-justify">Plan terapeutyczny opiera się na wynikach diagnozy i ma na celu stopniowe rozwijanie umiejętności dziecka. Terapia najczęściej prowadzona jest indywidualnie lub w małych grupach, aby móc jak najlepiej dopasować się do potrzeb dziecka.</p>

          <h3 class="mt-3">Metody i techniki terapeutyczne</h3>
          <p class="text-justify">Podczas terapii stosuje się różnorodne metody, takie jak:</p>
          <ul class="text-justify">
            <li>Ćwiczenia percepcyjno-motoryczne wspierające koordynację wzrokowo-ruchową,</li>
            <li>Ćwiczenia koncentracji uwagi i pamięci,</li>
            <li>Treningi czytania, pisania i umiejętności matematycznych,</li>
            <li>Ćwiczenia wspomagające radzenie sobie z emocjami i stresem.</li>
          </ul>

          <h3 class="mt-3">Wsparcie emocjonalne</h3>
          <p class="text-justify">Terapia pedagogiczna obejmuje także wsparcie emocjonalne, które jest kluczowe dla dzieci z niską samooceną lub stresem związanym z trudnościami edukacyjnymi. Pedagog-terapeuta pomaga dziecku budować pewność siebie i radzić sobie z emocjami.</p>

          <h2 class="mt-4 mb-2">Współpraca z rodzicami i nauczycielami</h2>
          <p class="text-justify">Terapia pedagogiczna nie ogranicza się tylko do pracy z dzieckiem. Ważnym elementem terapii jest współpraca z rodzicami oraz nauczycielami, aby zapewnić dziecku kompleksowe wsparcie zarówno w domu, jak i w szkole.</p>

          <h2 class="mt-4 mb-2">Dlaczego terapia pedagogiczna jest ważna?</h2>
          <p class="text-justify">Dzięki indywidualnemu podejściu i specjalistycznym metodom, terapia pedagogiczna pozwala dzieciom lepiej radzić sobie z trudnościami edukacyjnymi, co z kolei wpływa na ich sukcesy szkolne, pewność siebie oraz rozwój emocjonalny i społeczny.</p>
        </div>
</app-white-container>
<app-back-btn></app-back-btn>
