div {
  position: relative;
  max-width: 1200px;
  height: auto;
  background-color: var(--white-color);
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;
}
