<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Paulina Okrasa-Burczyk</h2>
      <p class="role-title px-4">Założycielka Centrum Terapii i Wsparcia Rozwoju Równowaga, psycholog, terapeuta SI,
        logopegda</p>
    </div>
    <div class="col-md p-0 img-container">
      <img [src]="'assets/img/awatar_damski.png'" [alt]="'Awatar'" class="">
    </div>
    <div class="col-md assistance-box">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2">Zakres wsparcia</h2>
      <p class="ms-3 m-0"><strong>1) Pomoc dziecku:</strong></p>
      <ul>
        <li>Problemy w regulacją emocji (np. lęk, złość, smutek)</li>
        <li>Stres i napięcie związane z codziennym funkcjonowaniem jak i trudnymi zdarzeniami</li>
        <li>Obniżona samoocena</li>
        <li>Psychosomatyczne dolegliwości (np. bóle brzucha bez przyczyn medycznych)</li>
        <li>Trudności w nawiązywaniu i utrzymywaniu relacji rówieśniczych</li>
      </ul>
      <p class="ms-3 m-0"><strong>2) Pomoc dla rodzica:</strong></p>
      <ul>
        <li>Lepsze zrozumienie dziecka oraz jego potrzeb</li>
        <li>Pomoc w przyjrzeniu się relacji z dzieckiem</li>
        <li>Wsparcie w trudnościach rodzicielskich</li>
        <li>Dobór odpowiedniej metody pomocy, z możliwością skierowania do innych specjalistów</li>
      </ul>
    </div>

  </div>
  <app-next-btn class="next-btn"><img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w prawo'"
                                      class="arrow-btn">
  </app-next-btn>
  <app-back-btn class="back-btn"></app-back-btn>
</div>


  <div class="about-me-section">
    <div class="px-3">
      <h2 class="title underline-title">O mnie</h2>
      <p class="about-text">
        Każdy etap w życiu człowieka, począwszy od narodzin, wiąże się z różnymi wyzwaniami, które są kluczowe dla dalszego rozwoju i nabywania nowych umiejętności, również w zakresie rozwoju psychicznego. Wierzę, że każde dziecko ma swoje unikalne możliwości – zarówno indywidualne (np. temperament i specyficzne strategie radzenia sobie w trudnych sytuacjach), jak i te związane z wpływem otoczenia (np. metody wychowawcze czy jakość relacji z ważnymi dorosłymi).
      </p>

      <h4 class="subtitle">Współczesne Wyzwania dla Dzieci i Młodzieży</h4>
      <p class="about-text">
        W dzisiejszym dynamicznym świecie nasze dzieci i młodzież, poza naturalnymi wyzwaniami rozwojowymi, często zmagają się z dodatkowymi trudnościami, które mogą wpływać na ich kondycję psychiczną. Jeśli cokolwiek niepokoi Was w funkcjonowaniu psychicznym Waszego dziecka lub nastolatka, zapraszam na konsultację w naszym centrum.
      </p>

      <h4 class="subtitle">Zakres Mojej Pracy</h4>
      <p class="about-text">
        Moja praca obejmuje udzielanie poradnictwa oraz wsparcia psychologicznego w formie spotkań terapeutycznych z dziećmi i nastolatkami. Pracuję z dziećmi w wieku przedszkolnym i szkolnym, a do gabinetu zapraszam również rodziców, którzy stanowią ważną bazę dla właściwego rozwoju i wsparcia dziecka. W przypadku młodszych dzieci moja praca opiera się głównie na spotkaniach z rodzicami/opiekunami.
      </p>
    </div>
  </div>




