<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Karolina Okrasa-Staszak</h2>
      <p class="role-title px-4">Psycholog</p>
    </div>
    <div class="col-md p-0 img-container">
      <img [src]="'assets/img/awatar_damski.png'" [alt]="'Awatar'" class="">
    </div>
    <div class="col-md assistance-box">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2">Zakres wsparcia</h2>
      <p class="ms-3 m-0"><strong> Pomoc dziecku:</strong></p>
      <ul>
        <li>Problemy w regulacją emocji (np. lęk, złość, smutek)</li>
        <li>Stres i napięcie związane z codziennym funkcjonowaniem jak i trudnymi zdarzeniami</li>
        <li>Obniżona samoocena</li>
        <li>Psychosomatyczne dolegliwości (np. bóle brzucha bez przyczyn medycznych)</li>
        <li>Trudności w nawiązywaniu i utrzymywaniu relacji rówieśniczych</li>
      </ul>
      <p class="ms-3 m-0"><strong> Pomoc dla rodzica:</strong></p>
      <ul>
        <li>Lepsze zrozumienie dziecka oraz jego potrzeb</li>
        <li>Pomoc w przyjrzeniu się relacji z dzieckiem</li>
        <li>Wsparcie w trudnościach rodzicielskich</li>
        <li>Dobór odpowiedniej metody pomocy, z możliwością skierowania do innych specjalistów</li>
      </ul>
    </div>

  </div>
  <app-next-back-btn (click)="nextTherapist()" class="next-btn">
    <img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
  </app-next-back-btn>
  <app-next-back-btn (click)="prevTherapist()" class="back-btn">
    <img [src]="'assets/img/left-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
  </app-next-back-btn>
</div>


<div class="about-me-section">
  <div class="px-3">
    <h2 class="title underline-title">O mnie</h2>
    <p class="about-text">
      Każdy etap życia człowieka, począwszy od narodzin, wiąże się z różnorodnymi wyzwaniami, które są istotne z
      perspektywy przejścia na kolejny poziom rozwoju. Wyzwania te pozwalają na rozwój oraz nabycie nowych umiejętności
      – w tym także w zakresie zdrowia psychicznego. Każde dziecko posiada swoje unikalne możliwości – zarówno
      indywidualne, jak i te związane z wpływem otoczenia. Wspieram dzieci i młodzież w radzeniu sobie z tymi
      wyzwaniami, rozumiejąc, że każdy przypadek jest inny.
    </p>
    <p class="about-text">
      W dzisiejszym dynamicznym świecie dzieci i młodzież mierzą się nie tylko z naturalnymi wyzwaniami rozwojowymi, ale
      także z trudnościami, które mogą dodatkowo obciążać ich zdrowie psychiczne. Jeśli zauważasz jakiekolwiek
      niepokojące objawy w funkcjonowaniu psychicznym swojego dziecka lub nastolatka, serdecznie zapraszam na
      konsultację w naszym centrum.
    </p>


    <h2>Zakres pracy</h2>
    <p class="about-text">
      Moja praca obejmuje poradnictwo psychologiczne oraz wsparcie psychologiczne w formie spotkań terapeutycznych z
      dziećmi i nastolatkami. Pracuję z dziećmi w wieku przedszkolnym i szkolnym. Ważnym elementem mojej pracy są
      również spotkania z rodzicami, którzy odgrywają kluczową rolę w prawidłowym rozwoju i wsparciu swoich dzieci. W
      przypadku młodszych dzieci moja praca koncentruje się głównie na współpracy z rodzicami/opiekunami.
    </p>

    <div class="qualifications-section">
      <h2 class="underline-title">Kwalifikacje</h2>
      <h3 class="pt-2">Wykształcenie</h3>
      <p>
        Psychologia (specjalność psychologia kliniczna i seksuologia) 5-letnie studia magisterskie na Uniwersytecie im. Adama Mickiewicza w Poznaniu <br> Przygotowanie pedagogiczne - studia podyplomowe w Wyższej Szkole Kształcenia Zawodowego we Wrocławiu <br>  Studium Psychoterapii Dzieci i Młodzieży - dwuletnie szkolenie w Instytucie Edukacji i Terapii w Poznaniu.
      </p>

      <h3 class="pt-2">Doświadczenie zawodowe</h3>
      <p>
        Doświadczenie zawodowe zdobywałam, pracując na oddziałach szpitalnych, gdzie zajmowałam się diagnozą funkcji poznawczych oraz wsparciem pacjentów, zwracając szczególną uwagę na relacje między ciałem a psychiką. Pracowałam również w instytucjach państwowych, gdzie pomagałam pacjentom w różnego rodzaju kryzysach psychologicznych.
      </p>
      <p>
        Obecnie pracuję w szkole podstawowej, gdzie prowadzę zajęcia indywidualne wspierające rozwój emocjonalny i społeczny dzieci oraz organizuję warsztaty dla klas z zakresu profilaktyki zdrowia psychicznego.
      </p>
    </div>
  </div>
</div>
<app-back-btn></app-back-btn>



