<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Agata Magdzicka-Banach</h2>
      <p class="role-title px-4">Pedagożka, terapeutka dzieci z niepełnosprawnością intelektualną oraz zaburzeniami ze spektrum autyzmu, tyflopedagożka, surdopedagożka, terapeutka metody EEG Biofeedback</p>
    </div>
    <div class="col-md p-0 img-container">
      <picture>
        <source srcset="./assets/img/awatar-damski.webp" type="image/webp">
        <img src="assets/img/awatar-damski.png" [alt]="'Awatar terapeutki'" >
      </picture>
    </div>
    <div class="col-md assistance-box">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2 me-4">Opis w przygotowaniu</h2>
    </div>

  </div>
  <app-next-back-btn (click)="nextTherapist()" class="next-btn">
    <img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
  </app-next-back-btn>
  <app-next-back-btn (click)="prevTherapist()" class="back-btn">
    <img [src]="'assets/img/left-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
  </app-next-back-btn>
</div>
<app-back-btn></app-back-btn>
