ol {
  padding-left: 20px; /* Odstęp od lewej krawędzi */
  margin-bottom: 20px; /* Odstęp od dołu */
  font-size: 18px; /* Rozmiar tekstu */
}

p {
  font-size: 16px;
  line-height: 1.7;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

h3 {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

li {
  font-size: 16px;
  line-height: 1.7;
}
