<div class="white-container">
  <div class="d-flex justify-content-center text-center">
    <h2 class="container-title">Zakres pomocy</h2>
  </div>
  <div class="container d-flex  justify-content-center align-items-stretch text-center ">
    <div class="card-container row row-cols-md-2 row-cols-lg-3 ">

      <div class="card p-4 mb-3" *ngFor="let card of cards" [routerLink]="[AppRoutes.ASSISTANCE, card.path]">
        <div class="card-body">
          <img [src]="card.imgSrc" [alt]="card.imgAlt">
          <h3 class="card-title fs-4">{{card.title}}</h3>
          <p class="card-text fs-6"[innerHTML]="card.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
