.info-bar {
  display: none;
  background-color: rgb(28, 157, 140);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.info-bar a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 5px;
}
