<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Paulina Okrasa-Burczyk</h2>
      <p class="role-title px-4">Założycielka Centrum Równowaga, pedagożka, terapeutka SI, terapeutka neurorozwojowa metody INPP i&nbsp;przetwarzania słuchowego, socjoterapeutka, terapeutka dzieci w&nbsp;spektrum autyzmu i&nbsp;z&nbsp;niepełnosprawnością intelektualną, logopedka</p>
    </div>
    <div class="col-md p-0 img-container">
      <picture>
        <source [srcset]="therapist?.webpImg" type="image/webp">
        <img [src]="therapist?.alterImg" [alt]="'Zdjęcie r ' + therapist?.name" class="">
      </picture>    </div>
    <div class="col-md assistance-box ">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2">Zakres wsparcia
      </h2>
      <ul class="mx-2">
        <li>Diagnoza i&nbsp;terapia integracji sensorycznej</li>
        <li>Diagnoza i&nbsp;terapia neurorozwojowa odruchów INPP</li>
        <li>Diagnoza i&nbsp;terapia ręki</li>
        <li>Diagnoza i&nbsp;terapia przetwarzania słuchowego Johansena IAS</li>
        <li>Terapia NeuroTaktylna MINRI</li>
        <li>Konsultacje sensomotoryczne i&nbsp;neurorozwojowe dla&nbsp;rodziców</li>
      </ul>
    </div>
  </div>
  <app-next-back-btn (click)="nextTherapist()" class="next-btn">
    <picture>
      <source srcset="assets/img/right-arrow.webp" type="image/webp">
      <img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
    </picture>
  </app-next-back-btn>
  <app-next-back-btn (click)="prevTherapist()" class="back-btn">
    <picture>
      <source srcset="assets/img/left-arrow.webp" type="image/webp">
      <img [src]="'assets/img/left-arrow.png'" [alt]="'ikona strzałki w lewo'" class="arrow-btn">
    </picture>
  </app-next-back-btn>
</div>

<div class="about-me-section">
  <div class="px-3">
    <h2 class="title underline-title">O&nbsp;mnie</h2>
    <p class="about-text">
      Na&nbsp;co&nbsp;dzień wspieram dzieci w&nbsp;prawidłowym rozwoju sensomotorycznym i&nbsp;neuropsychologicznym. Podczas
      przeprowadzania diagnoz i&nbsp;terapii staram się patrzeć na&nbsp;dziecko i&nbsp;jego najbliższe otoczenie w&nbsp;holistyczny i&nbsp;całościowy sposób, co&nbsp;umożliwia mi&nbsp;wybór najlepszych form i&nbsp;metod wsparcia dla&nbsp;konkretnych trudności i&nbsp;wyzwań, z&nbsp;którymi zmagają się dzieci i&nbsp;ich rodzice.
    </p>

    <h4 class="subtitle">Holistyczne podejście do&nbsp;terapii</h4>
    <p class="about-text">
      Moje podejście obejmuje całościowe spojrzenie na&nbsp;dziecko i&nbsp;jego otoczenie. W&nbsp;razie potrzeby kieruję dzieci na
      pogłębioną diagnostykę z&nbsp;zakresu neurologopedii, fizjoterapii, osteopatii, konsultacji psychologicznych,
      psychoterapii czy&nbsp;psychodietetyki.
    </p>

    <h4 class="subtitle">Relacja z&nbsp;dzieckiem – klucz do&nbsp;sukcesu</h4>
    <p class="about-text">
      Najważniejszym elementem terapii jest dla&nbsp;mnie nawiązanie relacji z&nbsp;dzieckiem, aby&nbsp;czuło się komfortowo i&nbsp;bezpiecznie. Tylko <br> w&nbsp;taki sposób terapia może przynosić oczekiwane efekty.
    </p>

    <h4 class="subtitle">Nieustanny rozwój zawodowy</h4>
    <p class="about-text">
      Cenię rozwój i&nbsp;stale podnoszę swoje kwalifikacje, aby&nbsp;móc jak&nbsp;najskuteczniej pomagać naszym małym klientom.
      Pracuję także z&nbsp;dziećmi <br> z&nbsp;różnego rodzaju niepełnosprawnościami oraz&nbsp;w&nbsp;spektrum autyzmu.
    </p>

    <h4 class="subtitle">Doświadczenie zawodowe</h4>
    <p class="about-text">
      Doświadczenie w&nbsp;pracy z&nbsp;dziećmi zdobywałam pracując kilka lat w&nbsp;specjalnym ośrodku wychowawczym dla&nbsp;chłopców z&nbsp;niepełnosprawnością intelektualną oraz&nbsp;w&nbsp;szkole ogólnodostępnej jako nauczyciel wspomagający dzieci w&nbsp;spektrum autyzmu oraz&nbsp;jako polonistka.
      Obecnie poza&nbsp;działalnością w&nbsp;Centrum Równowaga jestem także nauczycielem w&nbsp;szkole specjalnej, gdzie&nbsp;pracuję z&nbsp;dziećmi z&nbsp;wszelkiego rodzaju niepełnosprawnościami. Prowadzę także terapię w&nbsp;zakresie Wczesnego
      Wspomagania Dziecka. <br> Kocham swoją pracę i&nbsp;każdego dnia uczę się od&nbsp;dzieci czerpania radości z&nbsp;małych rzeczy oraz&nbsp;bycia tu&nbsp;i&nbsp;teraz, o&nbsp;czym często, my&nbsp;dorośli, zapominamy w&nbsp;codziennej rzeczywistości.
    </p>

    <h4 class="subtitle">Zainteresowania naukowe</h4>
    <p class="about-text">
      Interesuję się psychologią, szczególnie w&nbsp;kontekście traumy rozwojowej, neuropsychologii, psychoterapii
      sensomotorycznej oraz&nbsp;Teorii poliwagalnej Stephena Porgesa. Uważam, że&nbsp;umysł i&nbsp;ciało to&nbsp;jedność,
      którą należy traktować z&nbsp;pełnym zrozumieniem i&nbsp;nigdy nie&nbsp;zapominać, że&nbsp;cały czas na&nbsp;siebie wzajemnie oddziałują.
    </p>

    <h4 class="subtitle">Prywatnie</h4>
    <p class="about-text">
      W&nbsp;życiu prywatnym jestem właścicielką trzech kundelków – adopciaków, które&nbsp;każdego dnia dostarczają mi&nbsp;wsparcia
      w&nbsp;postaci dogoterapii. Gorąco polecam adopcję – <strong>Nie&nbsp;kupuj, adoptuj!</strong> :)
    </p>
  </div>

  <div class="qualifications-section">
    <h2 class="underline-title">Kwalifikacje</h2>
    <h3 class="pt-2">Wykształcenie</h3>
    <ul>
      <li>Filologia polska z&nbsp;pedagogiką – studia magisterskie, Uniwersytet Wrocławski</li>
      <li>Logopedia ogólna – studia podyplomowe, Uniwersytet Wrocławski</li>
      <li>Oligofrenopedagogika – studia podyplomowe</li>
      <li>Resocjalizacja i&nbsp;socjoterapia – studia podyplomowe</li>
      <li>Wspieranie rozwoju i&nbsp;edukacja osób ze&nbsp;spektrum autyzmu – studia podyplomowe</li>
      <li>Integracja sensoryczna – studia podyplomowe, Wyższa Szkoła Edukacja w&nbsp;Sporcie, Instytut Sportu i&nbsp;Rekreacji w&nbsp;Warszawie</li>
      <li>Psychologia – studia magisterskie (w&nbsp;trakcie), Akademia Ekonomiczno-Humanistyczna w&nbsp;Warszawie</li>
    </ul>

    <h4>Certyfikaty</h4>
    <ul>
      <li>Klinika Integracji Sensorycznej – certyfikat terapeuty i&nbsp;diagnosty integracji sensorycznej, Centrum Integracji
        Sensorycznej w&nbsp;Warszawie
      </li>
      <li>Johansen Indywidualna Stymulacja Słuchu – indywidualny program treningu słuchowego, certyfikacja jako Provider
        JIAS, K.&nbsp;Rychetsky, R.&nbsp;Borowiecka, Wrocław
      </li>
    </ul>

    <h4>Szkolenia Specjalistyczne</h4>
    <ul>
      <li>Terapia ręki i&nbsp;zaburzeń motoryki małej I&nbsp;i&nbsp;II&nbsp;stopnia, diagnoza – terapia – masaż, Ośrodek ProCentrum,
        Wrocław
      </li>
      <li>Apteczka Pierwszej Pomocy Emocjonalnej – kurs w&nbsp;zakresie psychologii pozytywnej, ODN w&nbsp;Kaliszu</li>
      <li>Trening Umiejętności Społecznych TUS, terapia grupowa dzieci ze&nbsp;spektrum autyzmu, Fundacja Pomoc Autyzm,
        Warszawa
      </li>
      <li>Integracja NeuroTaktylna MNRI – Svetlana Masgutowa Educational Institute, szkolenie w&nbsp;Ośrodku ASTO, Wrocław
      </li>
      <li>Szkolenie Bazowe Pozytywnej Dyscypliny dla&nbsp;Edukacji, ODN Kalisz</li>
      <li>Diagnoza i&nbsp;terapia opóźnienia neurorozwojowego – roczne szkolenie programu indywidualnego The Institute for
        Neuro-Psychological Psychology, Chester (filia: INPP Polska, Warszawa)
      </li>
    </ul>

    <h4>Szkolenia z&nbsp;Integracji Sensorycznej</h4>
    <ul>
      <li>Wspomaganie rozwoju dzieci ze&nbsp;specyficznymi trudnościami w&nbsp;nauce – Szkolny Program Interwencyjny Sally Goddard
        Blythe, Instytut Psychologii Neurofizjologicznej INPP Polska, Maria Matuszkiewicz
      </li>
      <li>Nadreaktywność i&nbsp;Podreaktywność sensoryczna w&nbsp;terapii SI, szkolenie Małgorzata Karga</li>
      <li>Integracja Sensoryczna a&nbsp;ADHD, szkolenie Z.&nbsp;Przyrowski</li>
      <li>Chodzenie na&nbsp;palcach u&nbsp;dzieci: kiedy norma a&nbsp;kiedy zaburzenie, szkolenie W.&nbsp;Kozłowski, B.&nbsp;Witkowska</li>
      <li>Sensoplastyka, szkolenie Inkubator Inspiracji</li>
      <li>Diagnoza Procesów Integracji Sensorycznej, Fundacja na&nbsp;Rzecz Rodzin Dzieci z&nbsp;Autyzmem i&nbsp;Innymi Dysfunkcjami
        Okno
      </li>
      <li>Diagnoza i&nbsp;terapia SI małego dziecka, Fundacja na&nbsp;Rzecz Rodzin Dzieci z&nbsp;Autyzmem i&nbsp;Innymi Dysfunkcjami Okno
      </li>
      <li>Plany terapii w&nbsp;SI, Fundacja na&nbsp;Rzecz Rodzin Dzieci z&nbsp;Autyzmem i&nbsp;Innymi Dysfunkcjami Okno</li>
      <li>Obserwacja Kliniczna SI w&nbsp;aspekcie fizjoterapeutycznym, Fundacja na&nbsp;Rzecz Rodzin Dzieci z&nbsp;Autyzmem i&nbsp;Innymi
        Dysfunkcjami Okno
      </li>
      <li>Ocena napięcia mięśniowego i&nbsp;postawy dziecka w&nbsp;korelacji z&nbsp;zaburzeniami sensorycznymi, szkolenie Fundacja
        Promyk Słońca, prowadzący W.&nbsp;Kozłowski
      </li>
      <li>Teoria poliwagalna i&nbsp;integracja sensoryczna w&nbsp;praktyce, badanie zależności w&nbsp;teorii i&nbsp;wskazania do&nbsp;terapii,
        szkolenie Fundacja Promyk Słońca, prowadząca Tracy Murnan Stackhouse
      </li>
    </ul>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center ms-sm-4 text-center text-sm-start">
    <h4 class="mb-0">Sprawdź opinie na&nbsp;mój temat
      <picture>
        <source srcset="assets/img/next.webp" type="image/webp">
        <img class="ms-3 arrow d-sm-inline d-none" src="assets/img/next.png" alt="Ikona strzałki w prawo">
      </picture>
    </h4>
    <picture>
      <source srcset="assets/img/down-arrow.webp" type="image/webp">
      <img class="ms-3 arrow d-sm-none" src="assets/img/down-arrow.png" alt="Ikona strzałki w dół">
    </picture>
    <div class="mb-4 ms-3">
      <a href="https://www.znanylekarz.pl/paulina-okrasa/logopeda/kalisz#profile-reviews" target="_blank" class="me-2">
        <picture>
          <source srcset="assets/img/znanylekarz.webp" type="image/webp">
          <img class="znany-icon mt-3 w-75" src="assets/img/znanylekarz.jpg" alt="Ikona portalu Znanylekarz">
        </picture>
      </a>
    </div>
  </div>
</div>
<app-back-btn></app-back-btn>
