<div class="person-box">
  <div class="row d-flex justify-content-center align-items-center name-box">
    <div class="col-md text-center my-4">
      <h2 class="card-title fw-bold mb-3 mx-2">Paulina Okrasa-Burczyk</h2>
      <p class="role-title px-4">Założycielka Centrum Równowaga, <br> pedagożka, terapeutka SI, terapeutka neurorozwojowa metody INPP <br> i przetwarzania słuchowego, socjoterapeutka, terapeutka dzieci <br> w spektrum autyzmu <br> i z niepełnosprawnością intelektualną, logopedka</p>
    </div>
    <div class="col-md p-0 img-container">
      <img [src]="therapist?.image" [alt]="'Zdjęcie lub awatar ' + therapist?.name" class="">
    </div>
    <div class="col-md assistance-box ">
      <h2 class="card-title fw-bold mb-2 mt-4 ms-1 text-center text-lg-start no-wrap ps-md-3 mx-2"> Zakres wsparcia
      </h2>
      <ul class="mx-2">
        <li> Diagnoza i terapia integracji sensorycznej
        <li> Diagnoza i terapia neurorozwojowa odruchów INPP
        <li> Diagnoza i terapia ręki
        <li> Diagnoza i terapia przetwarzania słuchowego Johansena IAS
        <li> Terapia NeuroTaktylna MINRI
        <li> Konsultacje sensomotoryczne i neurorozwojowe dla rodziców
        </li>
      </ul>
    </div>
  </div>
  <app-next-back-btn (click)="nextTherapist()" class="next-btn">
    <img [src]="'assets/img/right-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
  </app-next-back-btn>
  <app-next-back-btn (click)="prevTherapist()" class="back-btn">
    <img [src]="'assets/img/left-arrow.png'" [alt]="'ikona strzałki w prawo'" class="arrow-btn">
  </app-next-back-btn>
</div>


<div class="about-me-section">
  <div class="px-3">
    <h2 class="title underline-title">O mnie</h2>
    <p class="about-text">
      Na co dzień wspieram dzieci w prawidłowym rozwoju sensomotorycznym i neuropsychologicznym. Podczas
      przeprowadzania diagnoz <br> i terapii staram się patrzeć na dziecko i jego najbliższe otoczenie w holistyczny i
      całościowy sposób, co umożliwia mi wybór najlepszych form i metod wsparcia dla konkretnych trudności i wyzwań, z
      którymi zmagają się dzieci i ich rodzice.
    </p>

    <h4 class="subtitle">Holistyczne podejście do terapii</h4>
    <p class="about-text">
      Moje podejście obejmuje całościowe spojrzenie na dziecko i jego otoczenie. W razie potrzeby kieruję dzieci na
      pogłębioną diagnostykę z zakresu neurologopedii, fizjoterapii, osteopatii, konsultacji psychologicznych,
      psychoterapii czy psychodietetyki.
    </p>

    <h4 class="subtitle">Relacja z dzieckiem – klucz do sukcesu</h4>
    <p class="about-text">
      Najważniejszym elementem terapii jest dla mnie nawiązanie relacji z dzieckiem, aby czuło się komfortowo i
      bezpiecznie. Tylko <br> w taki sposób terapia może przynosić oczekiwane efekty.
    </p>

    <h4 class="subtitle">Nieustanny rozwój zawodowy</h4>
    <p class="about-text">
      Cenię rozwój i stale podnoszę swoje kwalifikacje, aby móc jak najskuteczniej pomagać naszym małym klientom.
      Pracuję także z dziećmi <br> z różnego rodzaju niepełnosprawnościami oraz w spektrum autyzmu.
    </p>

    <h4 class="subtitle">Doświadczenie zawodowe</h4>
    <p class="about-text">
      Doświadczenie w pracy z dziećmi zdobywałam pracując kilka lat w specjalnym ośrodku wychowawczym dla chłopców z niepełnosprawnością intelektualną oraz w szkole ogólnodostępnej jako nauczyciel wspomagający dzieci w spektrum autyzmu oraz jako polonistka.
     Obecnie poza działalnością w Centrum Równowaga jestem także nauczycielem w szkole specjalnej, gdzie pracuję z dziećmi z wszelkiego rodzaju niepełnosprawnościami. Prowadzę także terapię w zakresie Wczesnego
      Wspomagania Dziecka. <br> Kocham swoją pracę i każdego dnia uczę się od dzieci czerpania radości z małych rzeczy oraz bycia tu i teraz, o czym często, my dorośli, zapominamy w codziennej rzeczywistości.
    </p>

    <h4 class="subtitle">Zainteresowania naukowe</h4>
    <p class="about-text">
      Interesuję się psychologią, szczególnie w kontekście traumy rozwojowej, neuropsychologii, psychoterapii
      sensomotorycznej oraz Teorii poliwagalnej Stephena Porgesa. Uważam, że umysł i ciało to jedność,
      którą należy traktować z pełnym zrozumieniem i nigdy nie zapominać, że cały czas na siebie wzajemnie oddziałują.
    </p>

    <h4 class="subtitle">Prywatnie</h4>
    <p class="about-text">
      W życiu prywatnym jestem właścicielką trzech kundelków – adopciaków, które każdego dnia dostarczają mi wsparcia
      w postaci dogoterapii. Gorąco polecam adopcję – <strong>Nie kupuj, adoptuj!</strong> :)
    </p>
  </div>

  <div class="qualifications-section">
    <h2 class="underline-title">Kwalifikacje</h2>
    <h3 class="pt-2">Wykształcenie</h3>
    <ul>
      <li>Filologia polska z pedagogiką – studia magisterskie, Uniwersytet Wrocławski</li>
      <li>Logopedia ogólna – studia podyplomowe, Uniwersytet Wrocławski</li>
      <li>Oligofrenopedagogika – studia podyplomowe</li>
      <li>Resocjalizacja i socjoterapia – studia podyplomowe</li>
      <li>Wspieranie rozwoju i edukacja osób ze spektrum autyzmu – studia podyplomowe</li>
      <li>Integracja sensoryczna – studia podyplomowe, Wyższa Szkoła Edukacja w Sporcie, Instytut Sportu i Rekreacji w
        Warszawie
      </li>
      <li>Psychologia – studia magisterskie (w trakcie), Akademia Ekonomiczno-Humanistyczna w Warszawie</li>
    </ul>

    <h4>Certyfikaty</h4>
    <ul>
      <li>Klinika Integracji Sensorycznej – certyfikat terapeuty i diagnosty integracji sensorycznej, Centrum Integracji
        Sensorycznej w Warszawie
      </li>
      <li>Johansen Indywidualna Stymulacja Słuchu – indywidualny program treningu słuchowego, certyfikacja jako Provider
        JIAS, K. Rychetsky, R. Borowiecka, Wrocław
      </li>
    </ul>

    <h4>Szkolenia Specjalistyczne</h4>
    <ul>
      <li>Terapia ręki i zaburzeń motoryki małej I i II stopnia, diagnoza – terapia – masaż, Ośrodek ProCentrum,
        Wrocław
      </li>
      <li>Apteczka Pierwszej Pomocy Emocjonalnej – kurs w zakresie psychologii pozytywnej, ODN w Kaliszu</li>
      <li>Trening Umiejętności Społecznych TUS, terapia grupowa dzieci ze spektrum autyzmu, Fundacja Pomoc Autyzm,
        Warszawa
      </li>
      <li>Integracja NeuroTaktylna MNRI – Svetlana Masgutowa Educational Institute, szkolenie w Ośrodku ASTO, Wrocław
      </li>
      <li>Szkolenie Bazowe Pozytywnej Dyscypliny dla Edukacji, ODN Kalisz</li>
      <li>Diagnoza i terapia opóźnienia neurorozwojowego – roczne szkolenie programu indywidualnego The Institute for
        Neuro-Psychological Psychology, Chester (filia: INPP Polska, Warszawa)
      </li>
    </ul>

    <h4>Szkolenia z Integracji Sensorycznej</h4>
    <ul>
      <li>Wspomaganie rozwoju dzieci ze specyficznymi trudnościami w nauce – Szkolny Program Interwencyjny Sally Goddard
        Blythe, Instytut Psychologii Neurofizjologicznej INPP Polska, Maria Matuszkiewicz
      </li>
      <li>Nadreaktywność i Podreaktywność sensoryczna w terapii SI, szkolenie Małgorzata Karga</li>
      <li>Integracja Sensoryczna a ADHD, szkolenie Z. Przyrowski</li>
      <li>Chodzenie na palcach u dzieci: kiedy norma a kiedy zaburzenie, szkolenie W. Kozłowski, B. Witkowska</li>
      <li>Sensoplastyka, szkolenie Inkubator Inspiracji</li>
      <li>Diagnoza Procesów Integracji Sensorycznej, Fundacja na Rzecz Rodzin Dzieci z Autyzmem i Innymi Dysfunkcjami
        Okno
      </li>
      <li>Diagnoza i terapia SI małego dziecka, Fundacja na Rzecz Rodzin Dzieci z Autyzmem i Innymi Dysfunkcjami Okno
      </li>
      <li>Plany terapii w SI, Fundacja na Rzecz Rodzin Dzieci z Autyzmem i Innymi Dysfunkcjami Okno</li>
      <li>Obserwacja Kliniczna SI w aspekcie fizjoterapeutycznym, Fundacja na Rzecz Rodzin Dzieci z Autyzmem i Innymi
        Dysfunkcjami Okno
      </li>
      <li>Ocena napięcia mięśniowego i postawy dziecka w korelacji z zaburzeniami sensorycznymi, szkolenie Fundacja
        Promyk Słońca, prowadzący W. Kozłowski
      </li>
      <li>Teoria poliwagalna i integracja sensoryczna w praktyce, badanie zależności w teorii i wskazania do terapii,
        szkolenie Fundacja Promyk Słońca, prowadząca Tracy Murnan Stackhouse
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-start align-items-center ms-4">
    <h4>Sprawdź opinie na mój temat<img class="ms-3 arrow" src="assets/img/next.png" alt="Ikona strzałki w prawo"></h4>
    <div class=" mb-4 ms-3">
      <a href="https://www.znanylekarz.pl/paulina-okrasa/logopeda/kalisz#profile-reviews" target="_blank" class="me-2">
        <img class="mt-3 w-75" src="assets/img/znanyLekarz.jpg" alt="Ikona portalu Znanylekarz">
      </a>
    </div>
  </div>
</div>
<app-back-btn></app-back-btn>
