
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Comfortaa", sans-serif;
}

:root {
  --mint-color: rgb(181, 238, 227);
  --blue-color: #e4eff6;
  --action-btn-color: rgb(252, 216, 216);
  --nav-color: #fdfcf9;
  --lethers-color: #0e0e0e;
}


