*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--white-color);
}

:root {
  --pink-color: rgb(250, 192, 194);
  --light-pink-color: rgb(252, 216, 216);
  --white-color: #fdfcf9;
  --black-color: #0e0e0e;
  --mint-color: rgba(179, 222, 215, 0.86);
  --color-to-icon1: #0df0cf;
  --color-to-icon2: #fbd3d2;
}

/*overided styl for poopover i price-list*/
.popover {
  --bs-popover-max-width: 850px;
  font-size: 18px;
  background-color: var(--white-color);
}

/*paginator blog*/
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: rgba(179, 222, 215, 0.86) !important;
}

div.mat-mdc-select-panel {
  background-color: var(--white-color) !important;
}
