
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Comfortaa", sans-serif;
  background-color: var(--white-color);

}

:root {
  --pink-color: rgb(250, 192, 194);
  --light-pink-color: rgb(252, 216, 216);
  --white-color: #fdfcf9;
  --black-color: #0e0e0e;
  --mint-color: rgba(179, 222, 215, 0.86);
}


