
form {
  padding: 20px;
  margin: 40px auto;
  border: var(--mint-color) 2px solid;
  border-radius: 10px;
  background-color: var(--white-color);
  width: 90%;
  transition: box-shadow 0.4s;
}

form:hover {
  box-shadow: 0 0 0 2px rgba(96, 224, 202, 0.66);
}

.form-control {
  background-color: var(--mint-color);
  color: var(--black-color);
}

.form-control:focus {
  box-shadow: 0 0 0 1px var(--mint-color);
  background-color: var(--white-color);
  border-color: var(--mint-color);
}

.form-control:focus::placeholder {
  color: rgba(96, 224, 202, 0.82);
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: rgba(35, 35, 35, 0.51);
}

input[type="checkbox"] {
  border-color: #588c8c;
}

.form-check-input:checked {
  background-color: var(--mint-color);
  border-color: #6ba9a6;
  box-shadow: 0 0 2px rgb(89, 141, 140);
}

button {
  width: 50%;
  min-width: 237px;
  padding: 16px 16px;
  text-transform: uppercase;
  color: var(--black-color);
  background-color: var(--light-pink-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: background-color, transform 0.3s;
}

button:hover {
  color: var(--black-color);
  background-color: var(--pink-color);
  transform: scale(1.05);
}

.btn:active {
  background-color: var(--mint-color);
  border-color: var(--mint-color);
  box-shadow: 0 0 0 2px var(--mint-color);
}

img {
  height: 45px;
  width: 45px;
}

.info-box {
  padding-left: 40px;
}

p {
  font-size: 20px;
  margin: 0;
}

.text-attention {
  color: #ff1a1a;
  font-size: 16px;
  text-align: left;
}

.redBorder {
  border: #ff1a1a 2px solid;
  border-radius: 10px;
}

.redBorderColor {
  box-shadow: 0 0 0 2px #ff1a1a;
}

.alert-success {
  background-color: rgba(65, 140, 254, 0.32);
}

.alert-failed {
  background-color: rgba(255, 36, 36, 0.32);
}


