<app-banner title="Cennik" ></app-banner>
<app-white-container>
  <h1 class="text-center my-5">W naszym gabinecie oferujemy</h1>
  <div class="container">
    <table class=" table table-striped table-hover">
      <thead>
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
        <th>Czas</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Diagnoza integracji sensorycznej</td>
        <td>150 zł</td>
        <td>50 min (zazwyczaj 3x 50 min)</td>
      </tr>
      <tr>
        <td>Pisemny opis diagnozy SI</td>
        <td>150 zł</td>
        <td></td>
      </tr>
      <tr>
        <td>Terapia Integracji sensorycznej</td>
        <td>130 zł</td>
        <td>50 min</td>
      </tr>
      <tr>
        <td>Terapia NeuroTaktylna MNRI</td>
        <td>130 zł</td>
        <td>50 min</td>
      </tr>
      <tr>
        <td>Terapia ręki</td>
        <td>130 zł</td>
        <td>50 min</td>
      </tr>
      <tr>
        <td>Diagnoza neurorozwojowa odruchów INPP</td>
        <td>150 zł</td>
        <td>3x 50 min</td>
      </tr>
      <tr>
        <td>Spotkania kontrolne INPP</td>
        <td>150 zł</td>
        <td>50 min</td>
      </tr>
      <tr>
        <td>Pisemny opis diagnozy INPP</td>
        <td>150 zł</td>
        <td></td>
      </tr>
      <tr>
        <td>Psycholog</td>
        <td>170 zł</td>
        <td>50 min</td>
      </tr>
      <tr>
        <td>Konsultacje specjalistyczne</td>
        <td>150 zł</td>
        <td>50 min</td>
      </tr>
      <tr>
        <td>Pisemna opinia</td>
        <td>50 zł</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

</app-white-container>
