<app-white-container>
  <div class="p-3 text-center text-sm-start">
    <h1>Diagnoza i terapia odruchów INPP</h1>
    <picture>
      <source
        srcset="
          assets/img/assistance/INPP/rozne-odruchy-majace-wplyw-na-nauke.webp
        "
        type="image/webp"
      />
      <img
        src="assets/img/assistance/INPP/rozne-odruchy-majace-wplyw-na-nauke.jpg"
        alt="Odruchy pierwotne wpływające na proces nauki"
        class="inpp-img float-end img-fluid w-sm-25 w-50 ps-3"
      />
    </picture>
    <p class="text-justify">
      Noworodek rodzi się z ograniczoną kontrolą ruchów ciała. W pierwszych
      tygodniach życia jego reakcje są niezależne od woli i objawiają się
      odruchami pierwotnymi, które stanowią odpowiedź na różne bodźce. Z czasem
      te odruchy przechodzą w bardziej rozwinięte wzorce motoryczne, co
      przygotowuje dziecko do dalszego rozwoju. W miarę dojrzewania mózgu w
      pierwszym roku życia, odruchy pierwotne ustępują miejsca bardziej
      dojrzałym reakcjom posturalnym, które wspierają równowagę, postawę i ruch
      w otoczeniu grawitacyjnym.
    </p>
    <p class="text-justify">
      Jeśli odruchy pierwotne utrzymują się powyżej wieku niemowlęcego, mogą
      zakłócać rozwój zaawansowanych umiejętności.
    </p>
    <div class="d-flex align-items-center">
      <picture>
        <source
          srcset="assets/img/assistance/INPP/ikona-dziecka-z-odruchem-atos.webp"
          type="image/webp"
        />
        <img
          src="assets/img/assistance/INPP/ikona-dziecka-z-odruchem-atos.png"
          alt="Ikona dziecka z odruchem ATOS"
          class="inpp-icon float-start mb-2"
        />
      </picture>
      <h3>Asymetryczny Toniczny Odruch Szyjny (ATOS)</h3>
    </div>
    <ul class="text-justify">
      <li>
        koordynację ręka-oko – trudności w kontrolowaniu ruchów dłoni i ramienia
        podczas pisania;
      </li>
      <li>
        przekraczanie linii środkowej ciała – problem z pisaniem po lewej
        stronie kartki u dzieci praworęcznych;
      </li>
      <li>różnice w wypowiedziach ustnych i pisemnych;</li>
      <li>ruchy gałek ocznych – niezbędne do czytania i pisania;</li>
      <li>utrzymywanie równowagi automatycznej;</li>
      <li>integrację dwustronną ciała;</li>
      <li>lateralizację – np. skrzyżowaną lub nieustaloną.</li>
    </ul>

    <div class="d-flex align-items-center">
      <picture>
        <source
          srcset="assets/img/assistance/INPP/ikona-dziecka-z-odruchem-stos.webp"
          type="image/webp"
        />
        <img
          src="assets/img/assistance/INPP/ikona-dziecka-z-odruchem-stos.png"
          alt="Ikona dziecka z odruchem STOS"
          class="inpp-icon me-2"
        />
      </picture>
      <h3>Symetryczny Toniczny Odruch Szyjny (STOS)</h3>
    </div>
    <ul class="text-justify">
      <li>integrację górnych i dolnych partii ciała – np. podczas pływania;</li>
      <li>postawę siedzącą – tendencja do opadania na biurko;</li>
      <li>rozwój napięcia mięśniowego;</li>
      <li>koordynację ręka-oko;</li>
      <li>zdolność do siedzenia w jednym miejscu;</li>
      <li>koncentrację.</li>
    </ul>

    <div class="d-flex align-items-center">
      <picture>
        <source
          srcset="
            assets/img/assistance/INPP/ikona-dziecka-z-odruchem-galanta.webp
          "
          type="image/webp"
        />
        <img
          src="assets/img/assistance/INPP/ikona-dziecka-z-odruchem-galanta.png"
          alt="Ikona dziecka z odruchem Galanta"
          class="inpp-icon me-2"
        />
      </picture>
      <h3>Odruch Galanta</h3>
    </div>
    <ul class="text-justify">
      <li>utrzymanie pozycji siedzącej;</li>
      <li>uwagę i koordynację;</li>
      <li>postawę ciała;</li>
      <li>nocne moczenie się;</li>
      <li>skrzywienie kręgosłupa (skoliozę).</li>
    </ul>

    <div class="d-flex align-items-center">
      <picture>
        <source
          srcset="
            assets/img/assistance/INPP/dziecko-z-tonicznym-odruchem-blednikowym.webp
          "
          type="image/webp"
        />
        <img
          src="assets/img/assistance/INPP/dziecko-z-tonicznym-odruchem-blednikowym.png"
          alt="Ikona dziecka z odruchem TOB"
          class="inpp-icon me-2"
        />
      </picture>
      <h3>Toniczny Odruch Błędnikowy (TOB)</h3>
    </div>
    <ul class="text-justify">
      <li>problemy posturalne, w tym napięcie mięśniowe;</li>
      <li>chodzenie na palcach;</li>
      <li>zachowanie równowagi;</li>
      <li>choroba lokomocyjna;</li>
      <li>trudności z orientacją przestrzenną;</li>
      <li>ruchy gałek ocznych potrzebne do czytania;</li>
      <li>percepcję wzrokową;</li>
      <li>niechęć do aktywności fizycznej.</li>
    </ul>

    <div class="d-flex align-items-center">
      <picture>
        <source
          srcset="assets/img/assistance/INPP/dziecko-z-odruchem-moro.webp"
          type="image/webp"
        />
        <img
          src="assets/img/assistance/INPP/dziecko-z-odruchem-moro.png"
          alt="Ikona dziecka z odruchem Moro"
          class="inpp-icon me-2"
        />
      </picture>
      <h3>Odruch Moro</h3>
    </div>
    <ul class="text-justify">
      <li>wrażliwość na bodźce;</li>
      <li>reakcje nadmierne na bodźce;</li>
      <li>kontrolę nad impulsami;</li>
      <li>trudność w ignorowaniu bodźców;</li>
      <li>przeciążenie sensoryczne;</li>
      <li>lęk i emocjonalną niestabilność;</li>
      <li>trudności w sferze społeczno-emocjonalnej.</li>
    </ul>

    <h2>Niedojrzałość neuromotoryczna</h2>
    <p class="text-justify">
      Niedojrzałość neuromotoryczna oznacza sytuację, gdy dziecko pomija
      określone etapy rozwoju lub rozwój ten zatrzymuje się na wczesnym etapie.
      Każde dziecko rodzi się z zestawem odruchów pierwotnych, które powinny być
      wygaszone przez układ nerwowy w ciągu pierwszego roku życia. Jeśli te
      odruchy pozostają aktywne, mogą zakłócać prawidłowe funkcjonowanie układu
      ruchowego i percepcji.
    </p>

    <p class="text-justify">
      Według specjalistów z INPP niedojrzałość neuromotoryczna to obecność
      aktywnych odruchów pierwotnych po 6. miesiącu życia (maksymalnie do 12.
      miesiąca) oraz brak rozwiniętych odruchów posturalnych po 3,5 roku życia.
      W takich przypadkach układ nerwowy działa na poziomie odruchowym, co
      wpływa na rozwój motoryczny i koordynację.
    </p>

    <h2>Informacje dla rodziców</h2>
    <p class="text-justify">
      Wyzwania związane z czytaniem, pisaniem, ortografią, matematyką,
      koncentracją czy zachowaniem mogą wynikać z opóźnionego rozwoju
      motorycznego, który wspiera procesy uczenia się.
    </p>

    <p class="text-justify">
      Terapeuci INPP są wyspecjalizowani w ocenie fizycznego rozwoju dziecka,
      analizując koordynację, równowagę i umiejętność utrzymania postawy. Takie
      oceny mogą również ujawnić trudności związane z ruchem gałek ocznych,
      wpływające na zdolność do czytania i pisania.
    </p>

    <p class="text-justify">
      Przy pomocy standardowych, nieinwazyjnych testów można określić, gdzie
      występują oznaki niedojrzałości, co umożliwia opracowanie planu
      stymulującego rozwój motoryki.
    </p>

    <p class="text-justify">
      Problemy z nauką mogą mieć różne przyczyny, ale rozwój motoryczny jest
      kluczowy dla wszystkich aspektów edukacji – od ruchów gałek ocznych po
      zdolności społeczne i świadomość przestrzenną. Po rozwiązaniu tych
      problemów dzieci często lepiej radzą sobie z nauką.
    </p>

    <h3>Objawy niedojrzałości neuromotorycznej:</h3>
    <ul class="text-justify">
      <li>trudność z utrzymaniem pozycji siedzącej;</li>
      <li>nadmierna ruchliwość;</li>
      <li>problemy z postawą siedzącą podczas jedzenia lub nauki;</li>
      <li>trudności z samodzielnym ubieraniem się, np. zapinaniem guzików;</li>
      <li>kłopoty z posługiwaniem się sztućcami;</li>
      <li>trudności w pisaniu i niedojrzały chwyt;</li>
      <li>problemy z czytaniem i ortografią;</li>
      <li>trudność z łapaniem piłki;</li>
      <li>unikanie aktywności fizycznej lub sportów;</li>
      <li>słaba kontrola nad impulsami;</li>
      <li>wczesne lub opóźnione rozpoczęcie chodzenia;</li>
      <li>opóźnienia w rozwoju mowy.</li>
    </ul>
    <div class="mt-5 ms-2 text-secondary">
      <p>Źródło: <a href="https://www.inpp.pl">https://www.inpp.pl</a></p>
    </div>
  </div>
</app-white-container>
<app-back-btn></app-back-btn>
