<app-white-container>
  <div class="p-3">
    <h1>Diagnoza i terapia odruchów INPP</h1>
    <img src="assets/img/INPP/odruchy.jpg"
         alt="Ikona dziecka z odrychem ATOS"
         class="inpp-img float-end img-fluid w-50">
    <p>
      <span class="text-nowrap">W momencie</span> narodzin dziecko ma minimalną kontrolę nad ruchami swojego ciała. W
      pierwszych tygodniach życia odruchy
      pierwotne pojawiają się jako niezależna od woli dziecka reakcja na pewne bodźce. Stopniowo przekształcają się one
      w bardziej zaawansowane umiejętności motoryczne. Wczesne odruchy zapewniają swego rodzaju trening dla wielu
      aspektów późniejszego funkcjonowania. Rozwój mózgu niemowląt w pierwszym roku życia powoduje, że połączenia do
      wyższych partii mózgu stają się silniejsze, a odruchy pierwotne są stopniowo zastępowane przez bardziej dojrzałe
      wzorce reakcji - odruchy posturalne. Te odruchy posturalne wspierają kontrolę równowagi, postawy i ruchu w
      środowisku opartym na oddziaływaniu grawitacji. Ich rozwój znajduje odzwierciedlenie w rosnącej możliwości
      niemowlęcia do kontrolowania swojego ciała, postawy oraz ruchów dowolnych.
    </p>
    <p>
      Jeśli odruchy pierwotne nie wygasną, a odruchy posturalne nie wykształcą się do czasu, kiedy dziecko osiągnie wiek
      szkolny, to mogą one kolidować z rozwojem bardziej złożonych umiejętności.
    </p>
    <div class="d-flex align-items-center"><img src="assets/img/INPP/Picture1.png"
                                                alt="Ikona dziecka z odrychem ATOS"
                                                class="inpp-icon float-start mb-2">
      <h3 class="">
        Asymetryczny Toniczny Odruch Szyjny (ATOS)</h3></div>

    <ul>
      <li>koordynację ręka-oko – trudności, takie jak zdolność do kontrolowania ramienia i dłoni podczas pisania;</li>
      <li>zdolność przekroczenia pionowej linii środkowej ciała – na przykład praworęczne dziecko może mieć trudność z
        pisaniem po lewej stronie kartki;
      </li>
      <li>rozbieżność pomiędzy wypowiedziami ustnymi i pisemnymi;</li>
      <li>rozwój poprzecznych ruchów gałek ocznych – takich jak wodzenie wzrokiem, które jest niezbędne do czytania i
        pisania;
      </li>
      <li>kontrolę automatycznego utrzymania równowagi;</li>
      <li>dwustronną (bilateralną) integrację – zróżnicowane i zintegrowane wykorzystanie obu stron ciała;</li>
      <li>rozwój lateralizacji – na przykład skrzyżowaną lub nieustaloną.</li>
    </ul>

    <div class="d-flex align-items-center">
      <img src="assets/img/INPP/Picture2.png "
           alt="Ikona dziecka z odrychem STOS"
           class="inpp-icon me-2">
      <h3>Symetryczny Toniczny Odruch Szyjny (STOS)</h3></div>
    <ul>
      <li>integrację górnych i dolnych części ciała – na przykład podczas pływania;</li>
      <li>postawę podczas siedzenia – skłonność do pokładania się na biurku;</li>
      <li>stopień rozwinięcia napięcia mięśniowego;</li>
      <li>koordynację ręka-oko;</li>
      <li>umiejętność usiedzenia w jednym miejscu;</li>
      <li>koncentrację uwagi.</li>
    </ul>

    <div class="d-flex align-items-center">
      <img src="assets/img/INPP/Picture3.png"
           alt="Ikona dziecka z odrychem Galanta"
           class="inpp-icon me-2">
      <h3>Odruch Galanta</h3></div>
    <ul>
      <li>umiejętność usiedzenia w jednym miejscu;</li>
      <li>uwagę;</li>
      <li>koordynację;</li>
      <li>postawę;</li>
      <li>moczenie nocne;</li>
      <li>skrzywienie kręgosłupa – skoliozę.</li>
    </ul>

    <div class="d-flex align-items-center">
      <img src="assets/img/INPP/Picture4.png"
           alt="Ikona dziecka z odrychem TOB"
           class="inpp-icon me-2">
      <h3>Toniczny Odruch Błędnikowy (TOB)</h3></div>
    <ul>
      <li>problemy posturalne – szczególnie podwyższone lub obniżone napięcie mięśniowe;</li>
      <li>tendencję do chodzenia na palcach;</li>
      <li>równowagę;</li>
      <li>chorobę lokomocyjną;</li>
      <li>trudności w zakresie oceny kierunku i przestrzeni;</li>
      <li>ruchy gałek ocznych – wpływające na czytanie;</li>
      <li>percepcję wzrokową – wpływające na czytanie i pisanie;</li>
      <li>niechęć do aktywności fizycznej – szczególnie podczas WF.</li>
    </ul>

    <div class="d-flex align-items-center">
      <img src="assets/img/INPP/Picture5.jpg"
           alt="Ikona dziecka z odrychem Moro"
           class="inpp-icon me-2">
      <h3>Odruch Moro</h3></div>
    <ul>
      <li>nadwrażliwość;</li>
      <li>nadreaktywność;</li>
      <li>słabą kontrolę impulsów;</li>
      <li>nieumiejętność ignorowania bodźca – wpływ na koncentrację uwagi, zwiększenie rozpraszalności;</li>
      <li>przeciążenie sensoryczne;</li>
      <li>lęk;</li>
      <li>labilność emocjonalną;</li>
      <li>niedojrzałość emocjonalną i społeczną.</li>
    </ul>

    <h2>Niedojrzałość neuromotoryczna</h2>
    <p>
      Termin niedojrzałość neuromotoryczna (neuromotor immaturity - NMI) odnosi się do pominięcia jakiegoś etapu rozwoju
      dziecka lub zatrzymania rozwoju na wczesnym jego etapie. Każdy przeciętny, donoszony noworodek rodzi się ze
      zbiorem pierwotnych odruchów, które są hamowane lub kontrolowane przez wyższe
      ośrodki w mózgu w pierwszym roku życia. Jeżeli nie zostaną one wyhamowane w odpowiednim czasie, to pozostaną
      aktywne w ciele i mogą zakłócać rozwój różnych funkcji: równowagi, kontroli motorycznej, funkcjonowania wzroku i
      słuchu, koordynacji ręka-oko, umiejętności percepcyjnych i wielu innych. Może to prowadzić do objawów
      behawioralnych, takich jak: frustracja, nadpobudliwość i nadwrażliwość, brak równowagi pomiędzy zdolnościami i
      osiągnięciami. W miejsce zanikających w pierwszym roku życia odruchów pierwotnych pojawiają się odruchy
      posturalne, które powinny być w pełni dojrzałe po skończeniu przez dziecko wieku trzy i pół roku.
    </p>

    <p>
      Według definicji INPP termin niedojrzałość neuromotoryczna oznacza występowanie zbioru przetrwałych odruchów
      pierwotnych powyżej szóstego miesiąca życia (ostatecznie powyżej 12 m.ż.) w połączeniu z brakiem lub
      niedojrzałością odruchów posturalnych powyżej wieku trzech i pół roku. Oznacza to, że Centralny Układ Nerwowy
      (CUN) funkcjonuje na poziomie dojrzałości motoryki odruchowej (motoryka odruchowa jest pierwszym etapem rozwoju
      ruchowego, po nim następuje duża motoryka, a potem dopiero mała motoryka). O opóźnieniu można mówić tylko wtedy,
      gdy nie występuje uszkodzenie CUN, ani choroba degeneracyjna mózgu.
    </p>

    <h2>Informacje dla rodzica</h2>
    <p>
      Wiele problemów z czytaniem, pisaniem, ortografią, matematyką, koncentracją, obniżonymi osiągnięciami i
      zachowaniem ma swoje korzenie w niedojrzałym rozwoju sprawności fizycznej, która wspiera wiele aspektów uczenia
      się.
    </p>

    <p>
      Terapeuci INPP są w stanie przeprowadzić szczegółową ocenę rozwoju fizycznego dziecka na podstawie oceny ogólnej
      koordynacji i równowagi potrzebnej do utrzymania prawidłowej postawy, koordynacji i zdolności do usiedzenia w
      miejscu oraz do zapewnienia prawidłowych ruchów gałek ocznych, które dziecko potrzebuje do nauki czytania,
      pisania, kopiowania, łapania piłki i wielu innych czynności uczonych w szkole.
    </p>

    <p>
      Korzystając ze standardowych nieinwazyjnych testów medycznych nie tylko możemy określić, gdzie są obecne oznaki
      niedojrzałości, ale możemy również zaoferować skuteczny program naprawczy w zakresie stymulowania rozwoju
      dojrzałych umiejętności motorycznych.
    </p>

    <p>
      Specyficzne trudności w uczeniu się mogą mieć liczne przyczyny społeczne i edukacyjne, ale rozwój motoryczny
      (ruchowy) stanowi podstawę każdego aspektu uczenia się, począwszy od ruchów gałek ocznych potrzebnych do czytania,
      koordynacji ręka-oko potrzebnej do pisania, sekwencjonowania potrzebnego do odczytywania tabel oraz uczenia się
      dni tygodnia i miesięcy, skończywszy na świadomości przestrzennej biorącej udział w rozwiązywaniu niektórych
      problemów matematycznych i mającej wpływ na interakcje społeczne. Gdy te problemy zostaną usunięte dzieci mogą
      zacząć realizować się i odnosić sukcesy.
    </p>

    <h3>Symptomy związane z niedojrzałością neuromotoryczną:</h3>
    <ul>
      <li>trudności z usiedzeniem w miejscu;</li>
      <li>nadruchliwość;</li>
      <li>słaba postawa siedząca, szczególnie przy stole podczas posiłku lub przy biurku podczas odrabiania lekcji;</li>
      <li>trudności w nauczeniu się samodzielnego ubierania – zapinania guzików, wiązania sznurowadeł, wkładania ubrania
        w odpowiedni sposób;
      </li>
      <li>trudności podczas używania noża i widelca;</li>
      <li>problemy z pisaniem;</li>
      <li>niedojrzały chwyt pisarski;</li>
      <li>problemy z czytaniem;</li>
      <li>błędy ortograficzne;</li>
      <li>trudność z łapaniem piłki;</li>
      <li>unikanie sportu lub bardzo dobra sprawność fizyczna, ale unikanie prac pisemnych;</li>
      <li>słaba kontrola impulsów;</li>
      <li>historia przyspieszonego (do 10 miesiąca życia) lub opóźnionego (po 18 miesiącu życia) chodzenia;</li>
      <li>historia opóźnionego rozwoju mowy.</li>
    </ul>
    <div class="mt-5 ms-2 text-secondary">
      <p>Źródło: <a href="http://www.inpp.pl">http://www.inpp.pl</a></p>
    </div>
  </div>

</app-white-container>




