<div class="white-container">
  <div class="d-flex justify-content-center text-center">
    <h2 class="container-title">Zakres pomocy</h2>
  </div>
  <div class="container d-flex  justify-content-center align-items-stretch text-center ">
    <div class="card-container row row-cols-md-2 row-cols-lg-3 ">

      <div class="card p-4 mb-3 ">
        <div class="card-body">
          <img src="assets/img/repetitive.png" alt="head with puzzle pieces inside">
          <h3 class="card-title fs-4">Integracja sensoryczna</h3>
          <p class="card-text fs-6">diagnoza, konsultacje i wsparcie psychologiczne, psychoedukacja, interwencja
            kryzysowa, pomoc seksuologiczna – edukacja i terapia</p>
        </div>
      </div>

      <div class="card p-4 mb-3">
        <div class="card-body">
          <img src="assets/img/noise.png" alt="ead with a pill inside">
          <h3 class="card-title fs-4">Psycholog</h3>
          <p class="card-text fs-6">konsultacje, diagnoza psychiatryczna, leczenie lekami, psychoedukacja dla
            pacjentów i bliskich oraz wizyty kontrolne w przyjaznej i profesjonalnej atmosferze</p>
        </div>
      </div>

      <div class="card p-4 mb-3">
        <div class="card-body">
          <img src="assets/img/heart.png" alt="brain examin with a magnifying glass">
          <h3 class="card-title fs-4">Terapia ręki</h3>
          <p class="card-text fs-6">terapia poznawczo-behawioralna, terapia schematów, terapia
            dialektyczno-behawioralna, terapia akceptacji i zaangażowania, mindfulness</p>
        </div>
      </div>

      <div class="card p-4 mb-3">
        <div class="card-body">
          <img src="assets/img/adhd.png" alt="graph and people learning">
          <h3 class="card-title fs-4"> Terapia neurotaktylna
          </h3>
          <p class="card-text fs-6">treningi relaksacji, asertywności oraz mindfulness (uważność) umożliwiają
            poszerzanie wiedzy, umiejętności oraz rozwój osobisty i zawodowy</p>
        </div>
      </div>

      <div class="card p-4 mb-3">
        <div class="card-body">
          <img src="assets/img/mind.png" alt="great britain flag">
          <h3 class="card-title fs-4">Terapia, diagnoza odruchów INPP</h3>
          <p class="card-text fs-6">We provide psychological diagnosis, psychoeducation, consultations, diagnosis,
            counselling and psychotherapy in English also via internet (Skype)</p>
        </div>
      </div>

      <div class="card p-4 mb-3">
        <div class="card-body">
          <img src="assets/img/painted.png" alt="monitor with a character on the screen">
          <h3 class="card-title fs-4"> Terapia słuchowa
          </h3>
          <p class="card-text fs-6">konsultacje psychologiczne, diagnoza, terapia, interwencja kryzysowa, treningi
            w formie rozmowy wideo przez Skype oraz wsparcie psychologicze przez e-mail</p>
        </div>
      </div>

      <div class="card p-4 mb-3">
        <div class="card-body">
          <img src="assets/img/painted.png" alt="monitor with a character on the screen">
          <h3 class="card-title fs-4"> Konsultacje specjalistyczne
          </h3>
          <p class="card-text fs-6">konsultacje psychologiczne, diagnoza, terapia, interwencja kryzysowa, treningi
            w formie rozmowy wideo przez Skype oraz wsparcie psychologicze przez e-mail</p>
        </div>
      </div>

    </div>
  </div>
</div>
